.vertical-line-left-hotel {
    
    z-index: -1;
    filter: blur(.5px);
    height: 100%;
    border: 1px solid #bababa66;
    display: block;
    position: absolute;
    top: 0;
    left: 125px;
    @include tablet {
        left: 231px;
    }

    @include desktop {
        display: block;
        left: 253px;
    }
}

.vertical-line-center-hotel {
    display: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 555px;
    border: 1px solid rgba(186, 186, 186, 0.4);
    filter: blur(0.5px);
    height: 100%;
    

    @include tablet {
        display: block;
        left: 465px;
    }
    @include desktop {
        display: block;
        left: 555px;
    }
}

.vertical-line-right-hotel {
    display: block;
    position: absolute;
    z-index: -5;
    top: 0;
    left: 259px;
    border: 1px solid rgba(186, 186, 186, 0.4);
    filter: blur(0.5px);
    height: 100%;
    
    @include tablet {
       
        left: 698px;
    }

    @include desktop {
        display: block;
        left: 856px;
    }

}

.about-hotel-section {
   /* margin-top: 18px;*/
    position: relative;
    padding-bottom: 50px;

    @include tablet {
        padding-top: 120px;
        margin-top: 0;
        padding-bottom: 100px;
    }

    @include desktop {
        padding-bottom: 125px;
        
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.about-hotel-text {
    text-align: right;
    font-family: $fontTimesNewRoman;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(23/20);
    color: $preTitleColorGray;

    @include tablet {
        display: block;
        font-size: 32px;
        line-height: calc(37/32);
    }

    @include desktop {}
}

.about-hotel-logo {
    font-family: $fontFilm;
    font-weight: 700;
    font-size: 40px;
    line-height: calc(43/40);
    letter-spacing: 0.3em;
    color: $titleColorDarkGrey;
    text-align: right;
    margin-top: 6px;

    @include tablet {
        font-size: 64px;
        line-height: calc(69/64);
    }

    @include desktop {}
}

.about-hotel-block-descript {
    margin-top: 16px;
    margin-left: auto;
    margin-right: 0;
    max-width: 242px;

    @include tablet {
        max-width: 419px;
    }

    @include desktop {
        max-width: 488px;
    }
}

.about-hotel-text-descript {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15/12);
    letter-spacing: 0.02em;
    color: $textColorDarkGrey;

    @include tablet {
        font-size: 16px;
        line-height: calc(20/16);

    }

    @include desktop {}
}

.about-hotel-img-room {
    width: 244px;
    height: 322px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin-top: 28px;
    @include tablet {
        position: absolute;
        width: 400px;
        height: 524px;
        top: -24px;
        left: 65px;
        margin-top: 0;
    }

    @include desktop {
        width: 460px;
        height: 574px;
        left: 95px;

    }
}

.about-hotel-block-description {
    
    width: 163px;
    

    @include tablet {
        margin-left: 220px;
        width: 312px;
        min-height: 122px;
    }

    @include desktop {
        margin-left: 294px;
    }
}

.about-hotel-text-description {
    font-weight: 600;
    font-size: 12px;
    margin-right: 21px;
    line-height: calc(15/12);
    letter-spacing: 0.02em;
    color: $textColorBrown;


    @include tablet {
        font-size: 16px;
        line-height: calc(20/16);
        margin-right: 21px;
    }

    @include desktop {
        
    }

}

.about-hotel-text-img{
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    @include tablet {
        margin-top: 142px;
        margin-bottom: 0;
    }
    
    @include desktop {
        margin-top: 162px;
        margin-bottom: 0;
    }
}

.about-hotel-img-hole {
   
    top: 564;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    width: 400px;
    height: 278px;
    margin-bottom: 32px;
    @include tablet {
        max-height: 500px; 
        max-width: 350px;
        margin-left: auto;
        margin-right: 0;
        }
    
        @include desktop {
        max-height: 574px;
        max-width: 450px;
        }
    

    /*@include tablet {
        top: 476px;
        width: 350px;
        height: 500px;
    }

    @include desktop {
        width: 460px;
        height: 574px;
    }*/

    

}

.about-hotel-slick{
   
        margin-left: -25%;
        width: 330px;
        
    
        @include tablet {
            margin-top: -10%;
            width: 428px;
            margin-bottom: 0;
            margin-left: 45px;
            height: 194px;
        }
    
        @include desktop {
            width: 548px;
            height: 245px;
            margin-left: 0px;
        }

                .slick-prev:before,
                .slick-next:before {
                    content: '';
                    background: url(/src/images/svg/arrow-right.svg) 0 0 /100% no-repeat;
                    width: 32px;
                    height: 32px;
                }

                 
        
                .slick-prev {
        
                    background: url(/src/images/svg/arrow-right.svg) 0 0 /100% no-repeat;
                    width: 32px;
                    height: 32px;
                    top: 185px;
                    left: 75px;
                    
                    @include mobile {
                        margin-left: 15px;
                    }

                    @include tablet {
                        top: 225px;
                        left: 0px;
                    }
        
                    @include desktop {
                        top: 285px;
                        left: 0px;
        
                    }
                }
        
                .slick-next {
                    background: url(/src/images/svg/arrow-left.svg) 0 0 /100% no-repeat;
                    width: 32px;
                    height: 32px;
                    top: 185px;
                    left: 135px;
                        
                    @include tablet {
                        top: 225px;
                        left: 64px;
                    }
        
                    @include desktop {
                        left: 66px;
                        top: 285px;
                    }
                }
        
        
                
}





.slick-img-hotel{
    width: 245px;
    
}

.slider-hotel-item {
    width: 245px;
    background-color: #fffdee;;
    margin-right: 25px;

    @include tablet {
        width: 194px;
        margin-right: 40px;
    }

    @include desktop {
        width: 254px;
    }
}