.about-hotel {
    background: $backGroundBeige;
    
    &_container {
        padding-top: 16px;
        padding-bottom: 20px;
        background-image: linear-gradient(90deg,
                    #0000 33.7%,
                    #bababa66 34.1%,
                    #0000 34.2% 66.2%,
                    #bababa66 66.5%,
                    #0000 66.7%);

        @include tablet {
                background-image: linear-gradient(90deg,
                        #0000 27%,
                        #bababa66 27.2%,
                        #0000 27.3% 49.9%,
                        #bababa66 50.1%,
                        #0000 50.2% 73%,
                        #bababa66 73.2%,
                        #0000 73.3%);
            }

                @include desktop {
        
                    background-image: linear-gradient(90deg,
                            #0000 26.3%,
                            #bababa66 26.5%,
                            #0000 26.6% 49.9%,
                            #bababa66 50.1%,
                            #0000 50.2% 73.7%,
                            #bababa66 73.9%,
                            #0000 74%);
                }
        
    }

    &_container {
        position: relative;
    }

    &_img-interior {
        margin-right: auto;
        width: 59vw;
        max-width: 244px;
        box-shadow: $SmallShadow;
        background: #dadada;
        border-radius: 2px;

        @include tablet {
            width: 400px;
            max-width: 400px;
            position: absolute;
            top: -32px;
            left: 112px;
            box-shadow: $BigShadow;
        }

        @include desktop {
            width: 460px;
            max-width: 460px;
            top: -33px;
            right: 180px;
        }
    }

    &_img-hall {
        width: 48vw;
        max-width: 200px;
        box-shadow: $SmallShadow;
        background: #dadada;
        border-radius: 2px;

        @include tablet {
            width: 350px;
            max-width: 350px;
            box-shadow: $BigShadow;
            margin-bottom: -16px;
            transform: translateY(-16px);
        }

        @include desktop {
            width: 460px;
            max-width: 460px;
            margin-bottom: -98px;
        }
    }
}

.about-hotel_pre_title {
    font-family: 'Times New Roman';
    font-size: 20px;
    line-height: 1.15;
    color: $preTitleColorGray;
    margin-bottom: 12px;
    text-align: right;

    @include tablet {
        font-size: 32px;
        line-height: 1.6;
        margin-bottom: 4px;
    }
}

.title-name {
    font-family: 'Film P3';
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: $titleColorDarkGrey;
    margin-bottom: 12px;
    text-align: right;

    @include tablet {
        font-size: 64px;
        line-height: 1.08;
        margin-bottom: 24px;
    }

    @include desktop {
        color: $titleColorGrey;
    }
}

.about-hotel_text_up {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $textColorDarkGrey;
    margin-bottom: 28px;
    margin-right: 0;
    margin-left: auto;
    max-width: 258px;

    @include tablet {
        font-size: 16px;
        line-height: 1.25;
        max-width: 439px;
        margin-bottom: 142px;
    }

    @include desktop {
        margin-bottom: 162px;
        max-width: 518px;
    }
}

.about-hotel_text_down {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $textColorBrown;
    max-width: 163px;

    @include tablet {
        font-size: 16px;
        line-height: 1.25;
        max-width: 312px;
    }
}

.about-hotel_box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 32px 0;

    @include tablet {
        gap: 48px;
        margin: 0;
        margin-left: 267px;
    }

    @include desktop {
        gap: 32px;
    }
}

.slider-item-hotel {
    
    @include tablet {

    }

    @include desktop {
        width: 254px;
    }
}

.about-hotel_slider {
    margin-right: auto;
    margin-left: 0;
    width: 330px;
    margin-bottom: 72px;
    // box-shadow: $SmallShadow;
    
    // background: #dadada;
    border-radius: 2px;

    @include tablet {
        width: 428px;
        margin-top: -28px;
        
    }

    @include desktop {
        width: 548px;
        margin-top: -58px;
    }

    .slick-prev,
    .slick-next {
        top: 120%;
    }

    .slick-prev:before,
    .slick-next:before {
        content: '';
    }

    .slick-prev {
        left: 0;
        background: url(/src/images/svg/arrow-right.svg) 0 0 /100% no-repeat;
        width: 32px;
        height: 32px;

    }

    .slick-next {
        background: url(/src/images/svg/arrow-left.svg) 0 0 /100% no-repeat;
        width: 32px;
        height: 32px;
        right: 70%;

        @include tablet {
            right: 77%;
        }
        
        @include desktop {
            
        }
    }

    .slick-next:focus,
    .slick-next:hover {
        background: url(/src/images/svg/arrow-right-yellow.svg) 0 0 /100% no-repeat;
    }

    .slick-prev:focus,
    .slick-prev:hover {
        background: url(/src/images/svg/arrow-left-yellow.svg) 0 0 /100% no-repeat;
    }

        .slick-list {
            margin-left: -15px;
            padding: 0 0 0 30% !important;
            @include tablet {
                    padding: 0 !important;
                    margin-left: 0;
                }
            .slick-track {
                display: flex;
                gap: 25px;
    
                @include tablet {
                    gap: 40px;
                }
            }
        }

}




.about-hotel_slick_foto {
    width: 100%;
}