.about-hotel-section {
    margin-top: 18px;
    position: relative;
    margin-bottom: 100px;

    @include tablet {
        padding-top: 120px;
        margin-top: 0;
    }

    @include desktop {}
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.about-hotel-text {
    text-align: right;
    font-family: $fontTimesNewRoman;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(23/20);
    color: $preTitleColorGray;

    @include tablet {
        display: block;
        font-size: 32px;
        line-height: calc(37/32);
    }

    @include desktop {}
}

.about-hotel-logo {
    font-family: $fontFilm;
    font-weight: 700;
    font-size: 40px;
    line-height: calc(43/40);
    letter-spacing: 0.3em;
    color: $titleColorDarkGrey;
    text-align: right;
    margin-top: 6px;

    @include tablet {
        font-size: 64px;
        line-height: calc(69/64);
    }

    @include desktop {}
}

.about-hotel-block-descript {
    margin-top: 16px;
    margin-left: auto;
    margin-right: 0;
    max-width: 242px;

    @include tablet {
        max-width: 419px;
    }

    @include desktop {
        max-width: 488px;
    }
}

.about-hotel-text-descript {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15/12);
    letter-spacing: 0.02em;
    color: $textColorDarkGrey;

    @include tablet {
        font-size: 16px;
        line-height: calc(20/16);

    }

    @include desktop {}
}

.about-hotel-img-room {
    width: 244px;
    height: 322px;
    margin-top: 28px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @include tablet {
        position: absolute;
        width: 400px;
        height: 524px;
        top: -24px;
        left: 65px;
        margin-top: 0;
    }

    @include desktop {
        width: 460px;
        height: 574px;
        left: 95px;

    }
}

.about-hotel-block-description {
    margin-top: 102px;
    width: 163px;

    @include tablet {
        margin-top: 331px;
        margin-left: 220px;
        width: 312px;
        min-height: 122px;
    }

    @include desktop {
        margin-left: 294px;
    }
}

.about-hotel-text-description {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15/12);
    letter-spacing: 0.02em;
    color: $textColorBrown;


    @include tablet {
        font-size: 16px;
        line-height: calc(20/16);
    }

    @include desktop {}

}

.about-hotel-img-hole {
    position: absolute;
    right: 0;
    top: 564;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @include tablet {
        top: 476px;
        width: 350px;
        height: 500px;
    }

    @include desktop {
        width: 460px;
        height: 574px;
    }

    

}

.about-hotel-slick{
    position: relative;
    margin-top: 116px;
    max-width: 525px;
    background-color: none;
    
}

    .slick-prev:before,
    .slick-next:before {
        content: '';
    }
    
    .slick-prev {
        left: 80;
        background: url(/src/images/svg/icons.svg#icon-arrow-right) 0 0 /100% no-repeat;
        width: 32px;
        height: 32px;
    
        @include desktop {
            left: 80%;
        }
    }
    
    .slick-next {
        background: url(/src/images/svg/icons.svg#icon-arrow-left) 0 0 /100% no-repeat;
        width: 32px;
        height: 32px;
        left: 95%;
        }

