img{
    display: block;
  max-width: 100%;
  height: auto;

  width: 100%;
}

.contacts {
    display: block;
    max-width: 414px;
  height: 599px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 32px;
  background-color: $backGroundBeige;
}

.contacts__title {
  font-family: $fontFilm;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: $titleColorDarkGrey;
  margin-bottom: 12px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.contacts__subtitle {
  font-family: $fontMontserrat;
  font-weight: 600;
  font-size: $baseFontSize;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $textColorDarkGrey;
  margin-bottom: 16px;
}

.address__items{
    font-style: normal;
}
.address__items:not(:last-child){
    margin-bottom: 16px;
}

.address__text {
font-family: $fontMontserrat;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: $textColorBrown;
}

.address__link {
        display: flex;
    align-items: center;
font-family: $fontMontserrat;
font-weight: 400;
font-size: 14px;
line-height: 1.21;
letter-spacing: 0.02em;

}

.map__link {
       display: flex;
       align-items: center;
   font-family:  $fontMontserrat;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.01em;

color: $titleColorDarkGrey;
}

.tel__wrap{
    display: flex;
        margin-right: 116px;
justify-content: center;
    padding: 9px 8px 7px 8px;
color: $titleColorDarkGrey;
background: $titleColorWhite;
border: 0.5px solid $AccentColor;
border-radius: 2px;
}

.address__wrap{
    width: 260px;
        display: flex;
    justify-content: space-between;
    padding: 9px 8px 7px 8px;
color: $titleColorDarkGrey;
background: $titleColorWhite;
border: 0.5px solid $AccentColor;
border-radius: 2px;
}
.map__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 76px;
padding: 8px 33px 7px 10px;
margin-left: auto;
color: $titleColorDarkGrey;
background: $titleColorWhite;
border: 0.5px solid $AccentColor;
border-radius: 2px;

}

.connect__icon {
    fill: $textColorBrown;
    margin-right: 8px;

}

.address__items{
    display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts__map {
    margin-top: 32px;
border: 1px solid #BABABA;
box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
border-radius: 2px;
}