.footer{
    max-width: 100%;
    background-color: #0e0c07;
    justify-content: center;
    margin: auto;
    display: flex;
    position: relative;
}


.footer-container{
  width: 100%;
  align-items: center;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  @media screen and (max-width: 414px){
    min-width: 320px;
}}




    


.footer-section{

  display: flex;

 @media screen and(min-width: 414px) and (max-width: 1023px){
justify-content: center;
 }
 @media screen and(min-width: 1025px) and (max-width: 1279px) {
  justify-content: center;
  
 }
  @include desktop{
  }
}

.footer-content{

  @include mobile{
  }
  padding-top: 40px;
  padding-bottom: 41px;
  @include tablet{
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.linie{
  
  position: relative;
  display: flex;
  
}

// .linie::before{
// content:'';
// border: 1px solid rgba(122, 122, 122, 0.4);
// filter: blur(0.5px);
// width: 0%;
// height: 100%;
// overflow: auto;
// position: absolute;
// right: 155px;

// @include tablet{
//   content: "";
//   filter: blur(0.5px);
//   width: 61%;
//   height: 100%;
//   border: 1px solid rgba(122,122,122,.4);
//   position: absolute;
//   right: 149px;
//   overflow: auto;
// }
// @include desktop{
//   content: "";
//   filter: blur(0.5px);
//   width: 67%;
//   height: 100%;
//   border: 1px solid #7a7a7a66;
//   position: absolute;
//   right: 155px;
//   overflow: auto;
// }
// }


.linie::before{
  content:'';
  position: absolute;
  border: 1px solid rgba(122, 122, 122, 0.4);
  filter: blur(0.5px);
  top: 0;
  left: 264px;
  width: 245px;
  height: 0%;
  transform: rotate(90deg);
  transform-origin: top left;

  @media screen and(max-width: 413px) {
    display: none;
  }

  @include tablet{
    content:'';
    position: absolute;
    border: 1px solid rgba(122, 122, 122, 0.4);
    filter: blur(0.5px);
    top: 0;
    left: 511px;
    width: 305px;
    height: 0%;
    transform: rotate(90deg);
    transform-origin: top left;
}
@include desktop{
  content:'';
  position: absolute;
  border: 1px solid rgba(122, 122, 122, 0.4);
  filter: blur(0.5px);
  top: 0;
  left: 641px;
  width: 305px;
  height: 0%;
  transform: rotate(90deg);
  transform-origin: top left;
}
  }

  .linie-two{
    position: relative;
    display: flex;
  }

  .linie-two::before{
    @include tablet{
      content:'';
      position: absolute;
      border: 1px solid rgba(122, 122, 122, 0.4);
      filter: blur(0.5px);
      top: 0;
      left: 750px;
      width: 305px;
      height: 0%;
      transform: rotate(90deg);
      transform-origin: top left;
      display: flex;
    }
    @include desktop{
      content:'';
      position: absolute;
      border: 1px solid rgba(122, 122, 122, 0.4);
      filter: blur(0.5px);
      top: 0;
      left: 942px;
      width: 305px;
      height: 0%;
      transform: rotate(90deg);
      transform-origin: top left;
      display: flex;
    }



}


.footer-logo{
padding-top: 98px;
padding-left: 59px;
margin-right: 78px;

text-transform: uppercase;
font-family: 'Film P3';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 1.07;
letter-spacing: 0.3em;

color: #F3C653;

@media screen and (max-width: 350px) {
  margin-right: auto;
  
}
@include tablet{
  padding-top: 117px;
  padding-left: 139px;
font-size: 64px;
line-height: 1.07;
margin-right: 163px;
}
@include desktop {
  padding-left: 201px;
  margin-right: 231px;
  padding-top: 120px;

}
}


.footer-nav{
  display: flex;
  margin-bottom: 34px;
  @media screen and (min-width: 414px) and (max-width: 1023px) {
    
  padding-right: 26px;
  }
  @include tablet{
    margin-bottom: 0;
    margin-right: 137px;
  }
  @include desktop{
    margin-bottom: 0;
    margin-right: 199px;
  }
}


.footer-soc{
  @include tablet{

    padding-right: 108px;
  }
  @include desktop{
    padding-right: 172px;
  }
}

.footer-soc-list{
  display: flex;
  @media screen and (min-width: 1024px){
      flex-direction: column-reverse;
      display: inline-flex;
      
  }
}
.footer-soc-list__item:not(:first-child){
  @media screen and (min-width: 1024px){
      margin-bottom: 12px; 
  }

}
.footer-soc-list__item:not(:last-child){
margin-right: 23px;
@media screen and (min-width: 1024px){
  margin-right: 0;   
}
}

.footer-soc-list__link{
  @include tablet{
    display: flex;
    color:#F3C653;
    border: 0.5px solid #F3C653;
    border-radius: 2px;
    // justify-content: center;
    align-items: center;

    width: 143px;

    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    

  }
}

.footer-nav-list__item:not(:last-child){
  margin-bottom: 16px;
}



.footer-nav-list__link{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #F3C653;
}

.footer-soc-list__icon {
  fill:#F3C653;
}



.icon-name{
  display: none;

  @include tablet{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #F3C653;
  }
}

.gardient{
  @media screen and (min-width: 413px) {
    
  background-image: linear-gradient(90deg, #0e0c07 270px, #7a7a7a66 230px, #0e0c07 272px);

  }
  @include tablet{
    background-image: linear-gradient(90deg, #0e0c07 505px, #7a7a7a66 508px, #0e0c07 509px 741px, #7a7a7a66 745px, #0e0c07 745px);
  }
  @include desktop{
   background-image: linear-gradient(90deg, #0e0c07 633px, #7a7a7a66 636px, #0e0c07 636px 940px, #7a7a7a66 940px, #0e0c07 944px);
  }
}