.top{
    position: relative;

    .header-container{
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        height: 65px;
        z-index: 999;

        @include tablet{
            height: 100px;
        }

        display: flex;
        align-items: center;
        gap: 60px; 
    }

    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .contacts-list{
        display: flex;
        align-items: center;
        gap: 10px;
        @include mobile {
            gap: 20px;
        }
        @include tablet{
            gap: 70px;
        }
    }
        
    .contacts-item{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        @include mobile {
            gap: 12px;
        }
        @include desktop {
        gap: 32px;
        }
    }

    .logo{
        font-family: 'Film P3';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.08;
        letter-spacing: 0.3em;
        color: $titleColorWhite;
        text-decoration: none;
        text-transform: uppercase;
        @include mobile {
            font-size: 36px;
        }
        @include tablet{
            font-size: 40px;
            line-height: 1.075;   
        }
    }

    .text-nav{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color:$AccentColor;
        @include mobile {
        font-size: 16px;
        }
        @include tablet {
            font-size: 20px;
            line-height: 1.2;
        }
    }

    .contacts-number{   
        display: flex;
        align-items: center;
        
        @include tablet{
            border: 1px solid $AccentColor ;
            border-radius: 2px;
            height: 40px;
            
        }
    }

    .phone-contact{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.02em;
        text-align: center;
        color: $titleColorWhite;

        display: none;
        margin-right: 8px;
        margin-left: 8px;
    
        @include tablet{
            display: block;
        }
    }

    .soci{ 
        @media screen and (max-width:1279px) {
            display: none;
        }
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 23px;
    }

    .icon{
        fill:$AccentColor;  
        @include tablet{
            margin-left: 8px;
        }
    }

    .svg-phone{
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablet{
            //  margin-left: 8px;
        }
    }
}