.top{
    position: absolute;
    width: 100%;
}
.header-container{
    display: flex;
    background-color: transparent;
    margin-top: 16px;
}

@media  screen and (min-width: 1024px) {
    .header-container{
        margin-top: 24px;
    }
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1280px) {
    .nav{
    margin-right: 60px;
    }
}

.header-contacts{
    display: flex;
    background-color: transparent;
}
.contacts-list{
    display: flex;
    gap: 20px;
}
.contacts-item{
    display: flex;
    align-items: center;
    justify-content: center;

}


.logo{
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 50px;
}

@media screen and (min-width: 1024px) {
    .logo{
        margin-right: 90px;
    }
}

@media screen and (min-width: 1280px) {
    .logo{
        margin-right: 95px;
    }
}


.text-nav{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #F3C653;
}
@media screen and (min-width: 1024px) {
    .text-nav{
        margin-right: 30px;
    }
    .margin{
    margin-right: 70px;
    }
    .icon{
        margin-right: 8px;
    }
    .decoration-list{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 8px;
    margin-left: 8px;
    }
    .contacts-number{
    border: 1px solid #F3C653 ;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    height: 40px;
    }
}


@media screen and (max-width: 1023px){
.phone-contact{
    display: none;
}
}


.phone-contact{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.soci{
    background-color: transparent; 
    display: none;
}

@media screen and (min-width: 1280px) {
        .soci{
        display: flex;
        align-items: center;
        justify-content: center;
        }  
    }

.soc-list{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.icon{
    fill:#F3C653;  
}

.svg-phone{
    display: flex;
    align-items: center;
    justify-content: center;
}