.hero-main {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)),
    url(/src/images/main/main-hero-mob.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-main {
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)),
        url(/src/images/main/main-hero-mob-2x.jpg);
    }
  }
}

.hero-container {
  width: 100%;
  max-width: 414px;
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
  max-width: 100%;

}

.hero-address {

  margin-top: 64px;
  margin-right: 15px;
  font-family: $fontMontserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  border-width: 100%;
  display: flex;
  margin-bottom: 70px;
  color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-icon {
  fill: $AccentColor;
  margin-right: 13px;
}

.contacts-map-link {
  padding-left: 11px;
  margin-left: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 13px;
  border: 1px solid $AccentWithTransparentColor;
  border-radius: 2px;
  color: #e5e5e5;
  align-items: center;
  display: flex;
  align-items: center;
}

.hero-title {
  font-family: $fontFilm;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: $titleColorWhite;
  margin: 0 auto 24px;
  text-transform: uppercase;
  text-align: center;
  width: 303px;
  margin-top: 70px;
}

.hero-pre_title {
  font-family: $fontMontserrat;
  font-style: normal;
  font-weight: 600;
  font-size: $baseFontSize;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $titleColorWhite;
  text-align: center;
  margin-bottom: 40px;
}

.hero-description {
  font-family: $fontTimesNewRoman;
  font-style: normal;
  font-weight: 700;
  font-size: $preTitleFontSize;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: $titleColorWhite;
  text-align: center;
  margin-bottom: 113px;
}

.hero_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: $btnWhiteColor;
  }
}

.hero-soc {
  display: flex;
  gap: 23px;
}

.icon-soc {
  fill: $AccentWithTransparentColor;
  margin-top: 60px;
}

@media screen and (min-width: 1024px) {
  .hero-main {
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)),
      url(/src/images/main/main-hero-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-main {
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)),
        url(/src/images/main/main-hero-tab.-2x.jpg);
    }
  }



  .hero-container {
    width: 1024px;
    padding-right: 47px;
    padding-left: 47px;
    padding-top: 88px;
    padding-bottom: 18px;
    position: relative;

  }


  .hero-title {
    font-size: 128px;
    line-height: 1.08;
    width: 404px;
    margin: 0 auto 16px;
  }

  .hero-pre_title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 56px;
    letter-spacing: 0.02em;
  }

  .hero-description {
    font-weight: 700;
    font-size: $titleSecondFontSize;
    line-height: 1.14;
    letter-spacing: 0.05em;
    margin-bottom: 137px;
  }

  .hero-address {
    position: absolute;
    top: 90%;
    left: 24.5%;
    margin-right: -90%;
    transform: translate(-90%, -90%);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    border-width: 100%;
    display: flex;
    margin-bottom: 70px;
    margin-top: 0;
    margin-right: 0;
  }

  .hero_list {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }

  .hero-soc {
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .hero_soc_item {
    height: 24px;
    width: 24px;
  }

  .icon-soc {
    fill: $AccentWithTransparentColor;
    width: 24px;
    height: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .hero-button {
    background: $btnBlackColor;
  }

  .contacts-map-link {
    padding-left: 11px;
    margin-left: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 13px;
    border: 1px solid $AccentWithTransparentColor;
    border-radius: 2px;
    color: #e5e5e5;
    display: flex;
    align-items: center;
  }
}

@media screen and(min-width:1280px) {
  .hero-main {
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)),
      url(/src/images/main/main-hero-desk.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-main {
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)),
        url(/src/images/main/main-hero-desk-2x.jpg);
    }

  }

  .hero-container {
    width: 1280px;
    padding-right: 85px;
    padding-left: 85px;
    padding-top: 64px;
    padding-bottom: 64px;

  }

  .hero-soc {
    visibility: hidden;
  }

  .hero-button {
    background: $btnGreyColor;
    margin-bottom: 0;
  }

  .hero-title {
    margin-bottom: 32px;
    margin-top: 94px;
  }

  .hero-pre_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 64px;
  }

  .hero-description {
    font-weight: 700;
    font-size: $titleSecondFontSize;
    line-height: 1.39;
    letter-spacing: 0.05em;
    margin-bottom: 144px;
  }

  .hero-address {
    position: absolute;
    top: 86%;
    left: 25%;
    margin-right: -90%;
    transform: translate(-90%, -90%);
  }
}