@import './header';
@import "./hero-homepage";
@import './about-restaurant';
@import './details-restaurant';
@import './about-hotel';
@import './details-hotel';
@import './contacts';
@import './footer';
