<section class="section-kitchen">
  <div class="container kitchen-container">
    <h2 class="visually-hidden">About our kitchen</h2>
    <p class="kitchen-title">Amet minim mollit non</p>
    <p class="brand-name">MIMIHO</p>
    <p class="kitchen-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div>
      <picture>
        <source
          srcset="
            /src/images/rest/rest-desk.jpg    1x,
            /src/images/rest/rest-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            /src/images/rest/rest-tab.jpg    1x,
            /src/images/rest/rest-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />

        <source
          srcset="
            /src/images/rest/rest-mob.jpg    1x,
            /src/images/rest/rest-mob-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/rest/rest-desk.jpg"
          alt="Чоловік готує м'ясо на сковороді"
          width="244px"
          height="322px"
          class="kitchen-img__up"
        />
      </picture>
    </div>

    <div class="kitchen-wrap">
      <div>
        <picture>
          <source
            srcset="
              /src/images/rest/rest-2-desk.jpg    1x,
              /src/images/rest/rest-2-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              /src/images/rest/rest-2-tab.jpg    1x,
              /src/images/rest/rest-2-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />

          <source
            srcset="
              /src/images/rest/rest-2-mob.jpg    1x,
              /src/images/rest/rest-2-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/src/images/rest/rest-2-desk.jpg"
            alt="Два куски сирого стейка на столі"
            width="200px"
            height="278px"
            class="kitchen-img__down"
          />
        </picture>
      </div>

      <p class="kitchen-text-down">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="slider-box">
      <div class="about-kitchen-slider">
        <div class="slider-item">
          <picture>
            <source
              srcset="
                /src/images/rest/slider-rest/sl-rest-1-desk.jpg    1x,
                /src/images/rest/slider-rest/sl-rest-1-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/rest/slider-rest/sl-rest-1-tab.jpg    1x,
                /src/images/rest/slider-rest/sl-rest-1-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <source
              srcset="
                /src/images/rest/slider-rest/sl-rest-1-desk.jpg    1x,
                /src/images/rest/slider-rest/sl-rest-1-desk-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/src/images/rest/slider-rest/sl-rest-1-desk.jpg"
              alt="Руки чоловіка в борошні"
              width="245"
              height="245"
              class="img"
            />
          </picture>
        </div>
        <div class="slider-item">
          <picture>
            <source
              srcset="
                /src/images/rest/slider-rest/sl-rest-2-desk.jpg    1x,
                /src/images/rest/slider-rest/sl-rest-2-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/rest/slider-rest/sl-rest-2-tab.jpg    1x,
                /src/images/rest/slider-rest/sl-rest-2-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <source
              srcset="
                /src/images/rest/slider-rest/sl-rest-2-desk.jpg    1x,
                /src/images/rest/slider-rest/sl-rest-2-desk-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/src/images/rest/slider-rest/sl-rest-2-desk.jpg"
              alt="Хінкалі на тарілці"
              width="245"
              height="245"
              class="img"
            />
          </picture>
        </div>
        <div class="slider-item">
          <picture>
            <source
              srcset="
                /src/images/rest/slider-rest/sl-rest-3-desk.jpg    1x,
                /src/images/rest/slider-rest/sl-rest-3-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/rest/slider-rest/sl-rest-3-tab.jpg    1x,
                /src/images/rest/slider-rest/sl-rest-3-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <source
              srcset="
                /src/images/rest/slider-rest/sl-rest-3-desk.jpg    1x,
                /src/images/rest/slider-rest/sl-rest-3-desk-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/src/images/rest/slider-rest/sl-rest-3-desk.jpg"
              alt="У чашку з кавою наливають окроп"
              width="245"
              height="245"
              class="img"
            />
          </picture>
        </div>
        <div class="slider-item">
          <picture>
            <source
              srcset="
                /src/images/rest/slider-rest/sl-rest-5-desk.jpg    1x,
                /src/images/rest/slider-rest/sl-rest-5-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                /src/images/rest/slider-rest/sl-rest-4-tab.jpg    1x,
                /src/images/rest/slider-rest/sl-rest-4-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <source
              srcset="
                /src/images/rest/slider-rest/sl-rest-5-desk.jpg    1x,
                /src/images/rest/slider-rest/sl-rest-5-desk-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="/src/images/rest/slider-rest/sl-rest-5-desk.jpg"
              alt="Завтрак на столі"
              width="245"
              height="245"
              class="img"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
