<section>
  <h2 class="visually-hidden">About our kitchen</h2>
  <p>Amet minim mollit non</p>
  <p>MIMIHO</p>
  <p>
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <picture>
    <source
      srcset="
        /src/images/rest/rest-desk.jpg    1x,
        /src/images/rest/rest-desk-2x.jpg 2x
      "
      media="(min-width: 1280px)"
    />

    <source
      srcset="
        /src/images/rest/rest-tab.jpg    1x,
        /src/images/rest/rest-tab-2x.jpg 2x
      "
      media="(min-width: 1024px)"
    />

    <source
      srcset="
        /src/images/rest/rest-mob.jpg    1x,
        /src/images/rest/rest-mob-2x.jpg 2x
      "
      media="(min-width: 320px)"
    />
    <img
      src="/src/images/rest/rest-desk.jpg"
      alt="Чоловік готує м'ясо на сковороді"
      width="244px"
      height="322px"
    />
  </picture>

  <picture>
    <source
      srcset="
        /src/images/rest/rest-2-desk.jpg    1x,
        /src/images/rest/rest-2-desk-2x.jpg 2x
      "
      media="(min-width: 1280px)"
    />

    <source
      srcset="
        /src/images/rest/rest-2-tab.jpg    1x,
        /src/images/rest/rest-2-tab-2x.jpg 2x
      "
      media="(min-width: 1024px)"
    />

    <source
      srcset="
        /src/images/rest/rest-2-mob.jpg    1x,
        /src/images/rest/rest-2-mob-2x.jpg 2x
      "
      media="(min-width: 320px)"
    />
    <img
      src="/src/images/rest/rest-2-desk.jpg"
      alt="Два куски сирого стейка на столі"
      width="200px"
      height="278px"
    />
  </picture>

  <p>
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>

  <div class="kitchen-slider">
    <div>
      <picture>
        <source
          srcset="
            /src/images/rest/slider-rest/sl-rest-1-desk.jpg    1x,
            /src/images/rest/slider-rest/sl-rest-1-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/rest/slider-rest/sl-rest-1-tab.jpg    1x,
            /src/images/rest/slider-rest/sl-rest-1-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />

        <source
          srcset="
            /src/images/rest/slider-rest/sl-rest-1-desk.jpg    1x,
            /src/images/rest/slider-rest/sl-rest-1-desk-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/rest/slider-rest/sl-rest-1-desk.jpg"
          alt="Руки чоловіка в борошні"
          width="245px"
          height="245px"
        />
      </picture>
    </div>
    <div>
      <picture>
        <source
          srcset="
            /src/images/rest/slider-rest/sl-rest-2-desk.jpg    1x,
            /src/images/rest/slider-rest/sl-rest-2-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/rest/slider-rest/sl-rest-2-tab.jpg    1x,
            /src/images/rest/slider-rest/sl-rest-2-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />

        <source
          srcset="
            /src/images/rest/slider-rest/sl-rest-2-desk.jpg    1x,
            /src/images/rest/slider-rest/sl-rest-2-desk-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/rest/slider-rest/sl-rest-2-desk.jpg"
          alt="Хінкалі на тарілці"
          width="245px"
          height="245px"
        />
      </picture>
    </div>
    <div>
      <picture>
        <source
          srcset="
            /src/images/rest/slider-rest/sl-rest-3-desk.jpg    1x,
            /src/images/rest/slider-rest/sl-rest-3-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/rest/slider-rest/sl-rest-3-tab.jpg    1x,
            /src/images/rest/slider-rest/sl-rest-3-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />

        <source
          srcset="
            /src/images/rest/slider-rest/sl-rest-3-desk.jpg    1x,
            /src/images/rest/slider-rest/sl-rest-3-desk-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/rest/slider-rest/sl-rest-3-desk.jpg"
          alt="У чашку з кавою наливають окроп"
          width="245px"
          height="245px"
        />
      </picture>
    </div>
    <div>
      <picture>
        <source
          srcset="
            /src/images/rest/slider-rest/sl-rest-4-tab.jpg    1x,
            /src/images/rest/slider-rest/sl-rest-4-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />

        <img
          src="/src/images/rest/slider-rest/sl-rest-1-desk.jpg"
          alt="Руки чоловіка в борошні"
          width="245px"
          height="245px"
        />
      </picture>
    </div>
  </div>
</section>
