<section class="hero-restaurant">
  <h1 class="hero__title-mimino">Mimiho</h1>
  <h2 class="hero__title-rest">Ресторан</h2>
  <p class="hero__text">Смак життя 24/7</p>
  <div class="hero__elements">
    <a
      class="hero__map link"
      href="https://goo.gl/maps/51F9v2D8RPsUbQ6Q8"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <svg class="hero__location-icon" width="20px" height="20px">
        <use href="/src/images/svg/icons.svg#icon-location"></use>
      </svg>
      Україна, м. Полтава, <br />
      вул. Маршала Бірюзова, 15
    </a>
    <div class="hero__buttons">
      <button
        class="btn hero-rest-btn js-open-modal"
        data-modal="1"
        type="button"
      >
        Забронювати столик
      </button>
      <a href="#menu"
        ><button class="btn hero-rest-btn" type="button">
          Переглянути меню
        </button></a
      >
    </div>
  </div>

  <ul class="hero-soc-list list">
    <li class="hero-soc-list__item">
      <a
        class="hero-soc-list__link link"
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="hero-soc-list__icon" width="20px" height="20px">
          <use href="./images/svg/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>

    <li class="hero-soc-list__item">
      <a
        class="hero-soc-list__link link"
        href="https://www.facebook.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="hero-soc-list__icon" width="20px" height="20px">
          <use href="./images/svg/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="hero-soc-list__item">
      <a
        class="hero-soc-list__link link"
        href="https://web.telegram.org"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="hero-soc-list__icon" width="22px" height="22px">
          <use href="./images/svg/icons.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
