<section id="menu" class="section-restaurant__menu">
  <div class="container">
    <h2 class="menu__title">Меню ресторану</h2>

    <div class="menu__flex-wrapper">
      <div class="menu__flex-child">
        <!-- Гарячі страви -->
        <table class="menu__table">
          <thead>
            <tr>
              <th colspan="3" class="menu__category">Гарячі страви</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="menu__dish">Борщ з телятини з квасолею</td>
              <td rowspan="2" class="menu__portions">400 г</td>
              <td rowspan="2" class="menu__price">240 грн</td>
            </tr>
            <tr>
              <td class="menu__description">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish--down">Суп сирний з куркою</td>
              <td rowspan="2" class="menu__portions">400 г</td>
              <td rowspan="2" class="menu__price">200 грн</td>
            </tr>
            <tr>
              <td class="menu__description">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish--down">Паста карбонара</td>
              <td rowspan="2" class="menu__portions">350 г</td>
              <td rowspan="2" class="menu__price">430 грн</td>
            </tr>
            <tr>
              <td class="menu__description">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish--down">Стейк зі свинини</td>
              <td rowspan="2" class="menu__portions">400 г</td>
              <td rowspan="2" class="menu__price">500 грн</td>
            </tr>
            <tr>
              <td class="menu__description">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish--down">
                Горбуша в соусі з білого вина
              </td>
              <td rowspan="2" class="menu__portions">400 г</td>
              <td rowspan="2" class="menu__price">400 грн</td>
            </tr>
            <tr>
              <td class="menu__description">
                Ніжна горбуша, вершковий соус на основі білого вина
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Гарніри та закуски -->
        <table class="menu__table menu__table--down">
          <thead>
            <tr>
              <th colspan="3" class="menu__category">Гарніри та закуски</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="menu__dish">Запечені овочі</td>
              <td rowspan="2" class="menu__portions">200 г</td>
              <td rowspan="2" class="menu__price">230 грн</td>
            </tr>
            <tr>
              <td class="menu__description">
                Кабачок, перець, помідор, баклажан
              </td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish--down">Картопля фрі</td>
              <td rowspan="2" class="menu__portions">150 г</td>
              <td rowspan="2" class="menu__price">160 грн</td>
            </tr>
            <tr>
              <td class="menu__description">Картопля, соус томатний</td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish--down">Картопля по-селянськи</td>
              <td rowspan="2" class="menu__portions">150 г</td>
              <td rowspan="2" class="menu__price">160 грн</td>
            </tr>
            <tr>
              <td class="menu__description">
                Картопля, спеції, соус пікантний
              </td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish--down">
                Хрумкі соління з бочки
              </td>
              <td rowspan="2" class="menu__portions">250 г</td>
              <td rowspan="2" class="menu__price">350 грн</td>
            </tr>
            <tr>
              <td class="menu__description">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish--down">
                Крильця курячі в медовому соусі
              </td>
              <td rowspan="2" class="menu__portions">400 г</td>
              <td rowspan="2" class="menu__price">420 грн</td>
            </tr>
            <tr>
              <td class="menu__description">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="menu__flex-child">
        <!-- Салати -->
        <table
          class="menu__table menu__table--down menu__table--down-cancelled"
        >
          <thead>
            <tr>
              <th colspan="3" class="menu__category">Салати</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="menu__dish">Цезар з куркою</td>
              <td rowspan="2" class="menu__portions">230 г</td>
              <td rowspan="2" class="menu__price">450 грн</td>
            </tr>
            <tr>
              <td class="menu__description">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish--down">Цезар з креветками</td>
              <td rowspan="2" class="menu__portions">230 г</td>
              <td rowspan="2" class="menu__price">300 грн</td>
            </tr>
            <tr>
              <td class="menu__description">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish--down">Грецький салат</td>
              <td rowspan="2" class="menu__portions">230 г</td>
              <td rowspan="2" class="menu__price">280 грн</td>
            </tr>
            <tr>
              <td class="menu__description">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish--down">М’ясний салат</td>
              <td rowspan="2" class="menu__portions">230 г</td>
              <td rowspan="2" class="menu__price">300 грн</td>
            </tr>
            <tr>
              <td class="menu__description">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Десерти -->
        <table class="menu__table menu__table--down">
          <thead>
            <tr>
              <th colspan="3" class="menu__category">Десерти</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="menu__dish menu__dish-desserts--down">
                Торт наполеон
              </td>
              <td class="menu__portions menu__dish-desserts--down">230 г</td>
              <td class="menu__price menu__dish-desserts--down">300 грн</td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish-desserts--down">Торт маковий</td>
              <td class="menu__portions menu__dish-desserts--down">230 г</td>
              <td class="menu__price menu__dish-desserts--down">300 грн</td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish--padding-calcell">Тірамісу</td>
              <td class="menu__portions">120 г</td>
              <td class="menu__price">260 грн</td>
            </tr>
          </tbody>
        </table>

        <!-- Напої -->
        <table class="menu__table menu__table--down">
          <thead>
            <tr>
              <th colspan="3" class="menu__category">Напої</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="menu__dish menu__dish-desserts--down">
                Чай чорний/зелений
              </td>
              <td class="menu__portions menu__dish-desserts--down">500 мл</td>
              <td class="menu__price menu__dish-desserts--down">300 грн</td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish-desserts--down">Еспресо</td>
              <td class="menu__portions menu__dish-desserts--down">30 мл</td>
              <td class="menu__price menu__dish-desserts--down">100 грн</td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish-desserts--down">Американо</td>
              <td class="menu__portions menu__dish-desserts--down">150 мл</td>
              <td class="menu__price menu__dish-desserts--down">100 грн</td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish-desserts--down">Капучино</td>
              <td class="menu__portions menu__dish-desserts--down">200 мл</td>
              <td class="menu__price menu__dish-desserts--down">160 грн</td>
            </tr>
            <tr>
              <td class="menu__dish menu__dish--padding-calcell">Лате</td>
              <td class="menu__portions">200 мл</td>
              <td class="menu__price">160 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button
      type="button"
      class="btn menu-button btn__restoran js-open-modal"
      data-modal="1"
    >
      Забронювати столик
    </button>
  </div>
</section>
