.lux {
    &__container {
        position: relative;
            padding-top: 32px;
            padding-bottom: 32px;
            
            @include tablet {
            padding-top: 62px;
            padding-bottom: 40px;
            background-image: linear-gradient(to right, transparent, transparent 278px,
            rgba(186, 186, 186, 0.4) 278px, rgba(186, 186, 186, 0.4) 279px,
            transparent 279px, transparent 512px, rgba(186, 186, 186, 0.4) 512px,
            rgba(186, 186, 186, 0.4) 513px, transparent 513px, transparent 746px,
            rgba(186, 186, 186, 0.4) 746px, rgba(186, 186, 186, 0.4) 747px,
            transparent 747, transparent);
            }
            
            @include desktop {
            padding-top: 72px;
            background-image: linear-gradient(to right, transparent, transparent 339px,
            rgba(186, 186, 186, 0.4) 339px, rgba(186, 186, 186, 0.4) 340px,
            transparent 340px, transparent 640px, rgba(186, 186, 186, 0.4) 640px,
            rgba(186, 186, 186, 0.4) 641px, transparent 641px, transparent 941px,
            rgba(186, 186, 186, 0.4) 941px, rgba(186, 186, 186, 0.4) 942px,
            transparent 942, transparent);
            }
    }

    &__for-absolute {
        position: relative;
    }

    &__pre-title {
        font-family: $fontTimesNewRoman;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.15;
        color: $preTitleColorGray;
        margin-bottom: 8px;
        @include tablet {
            font-size: 32px;
            margin-bottom: 4px;
        }
    }

    &__logo {
        font-family: $fontFilm;
        font-size: 40px;
        line-height: 1.08;
        letter-spacing: 0.3em;
        color: $titleColorDarkGrey;
        margin-bottom: 32px;
        text-transform: uppercase;
        @include tablet {
            font-size: 64px;
            margin-bottom: 62px;
        }
        @include desktop {
            margin-bottom: 72px;
        }
    }

    &__title {
        font-family: $fontTimesNewRoman;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.05em;
        color: $textColorBlack;
        text-transform: uppercase;
        margin-bottom: 12px;
        @include tablet {
            font-size: 30px;
            margin-bottom: 16px;
        }
        @include desktop {
            font-size: 36px;
            margin-bottom: 24px;
        }
    }

    &__description {
        max-width: 242px;
        margin-bottom: 32px;

        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $textColorDarkGrey;
        @include tablet {
            font-size: $baseFontSize;
            max-width: 400px;
            margin-bottom: 176px;
        }
        @include desktop {
            margin-bottom: 188px;
        }
    }

    &__photo {
        margin-right: 0;
        margin-left: auto;
        margin-bottom: 32px;
        width: 244px;

        background: #DADADA;
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        @include tablet {
            width: 400px;
            position: absolute;
            right: 112;
            top: -34px;
        }
        @include desktop {
            width: 460px;
            right: 180;
            top: -24px;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

    }

    &__reference, &__button {
        // font-family: $fontMontserrat;
        // font-weight: 700;
        // font-size: 16px;
        // line-height: 1.25;
        // letter-spacing: 0.02em;
        color: $AccentColor;
        
        // width: 236px;
        // min-height: 48px;
        padding: 10px 50px;

        // display: flex;
        // align-items: center;
        // justify-content: center;

        // transition: background-color $transition, color $transition;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 72px;
        @include tablet {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            @include tablet {
            margin-bottom: 40px;
            }
            @include desktop {
                margin-bottom: 48px;
            }
        }
    }
}

.lux-time {
    width: 284px;
    @include tablet {
        width: 428px;
    }
    @include desktop {
        width: 548px;
    }

    &__img {
        width: 100%;
    }

    .slick-list .slick-track {
        gap: 16px;
        @include tablet {
            gap: 40px;
        }
    }
    @media screen and (max-width:1023px) {
        .slick-list {
            padding: 0 0 0 30% !important;
        }
    }
}

.lux-slider {
    display: flex;

    &__buttons {
        @media screen and (max-width:1023px) {
            position: absolute;
            top: 222px;
            left: 0px;
        }
        display: flex;
        align-items: center;
        gap: 32px;
        @include tablet {
            width: 428px;
            justify-content: flex-end;
        }
        @include desktop {
            width: 548px;
        }

        .lux-slider__left,
        .lux-slider__right {
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: fill $transition;
        }
        
        .lux-slider__left:hover>.icon-left {
            fill: $AccentColor;
        }
        
        .lux-slider__right:hover>.icon-right {
            fill: $AccentColor;
        }
        
        .icon-right,
        .icon-left {
            fill: $btnBlackColor;
            width: 32px;
            height: 32px;
        }
    }



}