   @font-face {
       font-family: 'Montserrat';
       src: url(../fonts/montserrat-bold.ttf) format("truetype");
       font-style: normal;
       font-weight: 700;
   }

   @font-face {
       font-family: 'Montserrat';
       src: url(../fonts/montserrat-light.ttf) format("truetype");
       font-style: normal;
       font-weight: 300;
   }

   @font-face {
       font-family: 'Montserrat';
       src: url(../fonts/montserrat-medium.ttf) format("truetype");
       font-style: normal;
       font-weight: 500;
   }

   @font-face {
       font-family: 'Montserrat';
       src: url(../fonts/montserrat-regular.ttf) format("truetype");
       font-style: normal;
       font-weight: 400;
   }

   @font-face {
       font-family: 'Montserrat';
       src: url(../fonts/montserrat-semibold.ttf) format("truetype");
       font-style: normal;
       font-weight: 600;
   }

   @font-face {
       font-family: 'Film P3';
       src: url(../fonts/filmp3-bold.ttf) format("truetype");
       font-style: normal;
       font-weight: 700;
   }

   @font-face {
       font-family: 'Times New Roman';
       src: url(../fonts/times-new-roman.ttf) format("truetype");
       font-style: normal;
       font-weight: 400;
   }

   @font-face {
       font-family: 'Times New Roman';
       src: url(../fonts/times-new-roman-bold.ttf) format("truetype");
       font-style: normal;
       font-weight: 700;
   }
   