
    <div class="modal" data-modal="1">
     <button type="button" class="js-modal-close modal__close-button--table">
            <svg class="button-cross-svg--table modal__cross" width="24" height="24">
                <use href="/src/images/svg/icons.svg#icon-close"></use>
            </svg>
        </button>
        <form class="modal-form--table">
            <h2 class="form__heading--table">
                забронювати столик
            </h2>
            <div class="form__fix-space--tablet">
                <div class="form__space--tablet">
                    <lable for="whom" class="form__lable--table">
                        <input type="text" class="lable__input-price--table" placeholder="Ваше ім’я" id="whom" reqired>
                        <p class="lable__descript-par--table mrg">На кого забронювати столик?</p>
                    </lable>
                    <lable for="mobile" class="form__lable--table">
                        <input type="tel" class="lable__input-price--table"
                            title="Номер повинен бути в форматі '+380XXXXXXXXX'" placeholder="+38 (___) ___-__-__"
                            pattern="([+][0-9\+]{12})" id="mobile" reqired>
                        <p class="lable__descript-par--table">Номер телефону</p>
                    </lable>
                </div>
                <div class="form__space--tablet">
                    <lable for="count-of-peoples" class="form__lable--table">
                        <select type="number" class="lable__input-count--table" id="count-of-peoples" reqired>
                            <option value="2" selected>2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <p class="lable__descript-par--table mrg">Столик на яку кількість осіб?</p>
                    </lable>
                    <lable for="which-day" class="form__lable--table">
                        <select type="number" class="lable__input-count--table" id="which-day" reqired>
                            <option value="today" selected>Сьогодні</option>
                            <option value="tomorrow">Завтра</option>
                            <option value="day_after_tomorrow">Післязавтра</option>
                        </select>
                        <p class="lable__descript-par--table">На яку дату бронювати?</p>
                    </lable>
                </div>
            </div>
            <button type="submit" class="form__booking-button--table btn__modal">оформити бронювання</button>
        </form>
    </div>
 
