
    <div class="modal-price modal" data-modal="2">
        <button type="button" class="js-modal-close modal__close-button--price">
            <svg class="button-cross-svg--price" width="24" height="24">
                <use href="/src/images/svg/icons.svg#icon-close"></use>
            </svg>
        </button>
        <form class="modal-form--price">
            <h2 class="form__heading--price">
                ціни на номер
            </h2>
            <h3 class="form__room-name--price">
                Двомісний люкс
            </h3>
            <p class="form__room-stats--price">Категорія номеру</p>
            <div class="form__space--price">
                <label for="nights" class="form__lable--price">
                    <select type="number" class="lable__input-count--price" min="1" value="1" id="nights" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <p class="lable__descript-par--price">Кількість ночей</p>
                </label>    
                <lable for="nights" class="form__lable--price">
                    <input type="number" class="lable__input-price--price" id="nights" placeholder="1000" disabled>
                    <p class="lable__descript-par--price">грн</p>
                </lable>    
            </div>
            <button type="submit" class="form__booking-button--price">забронювати номер</button>
        </form>
    </div>
    