<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <title>Mimino | Трьохмісний номер</title>
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
</head>

<body>
    <section class="hero overlay">
        <div class="container hero-container_room">
            <address class="hero-address">
                <a class="contacts-map-link link" href="https://goo.gl/maps/XrxTVzeBdrzJqLxW6" target="_blank"
                    rel="noopener noreferrer nofollow">
                    <svg class="location-icon" width="20px" height="20px">
                        <use href="/src/images/svg/icons.svg#icon-location"></use>
                    </svg>
                    Україна, м. Полтава, <br />
                    вул. Маршала Бірюзова, 15</a>
            </address>

            <h2 class="hero-room_title">ТРЬОХМІСНИЙ НОМЕР </h2>
            <p class="hero-description_room">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit
                officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <ul class="hero-soc_room list">
                <li class="hero_soc_item_room">
                    <a class="hero-soc_link_room link" href="https://www.instagram.com" target="_blank"
                        rel="noopener noreferrer nofollow"><svg class="icon-soc_room" width="22px" height="22px">
                            <use href="/src/images/svg/icons.svg#icon-instagram"></use>
                        </svg></a>
                </li>
                <li class="hero_soc_item_room">
                    <a class="hero-soc_link_room link" href="https://www.facebook.com" target="_blank"
                        rel="noopener noreferrer nofollow"><svg class="icon-soc_room" width="22px" height="22px">
                            <use href="/src/images/svg/icons.svg#icon-facebook"></use>
                        </svg></a>
                </li>
                <li class="hero_soc_item_room">
                    <a class="hero-soc_link_room link" href="https://telegram.org" target="_blank"
                        rel="noopener noreferrer nofollow"><svg class="icon-soc_room" width="22px" height="22px">
                            <use href="/src/images/svg/icons.svg#icon-telegram"></use>
                        </svg></a>
                </li>
            </ul>
            <button type="button" class="btn hero-button_room">
                Переглянути ціни
            </button>
        </div>
    </section>
    <include src="./partials/header.html"></include>
    <main>
        <include src="./partials/triple-room/hero.html"></include>
        <include src="./partials/triple-room/amenities.html"></include>
    </main>
    <include src="./partials/footer.html"></include>
    <include src="./partials/modals/room-price-modal.html"></include>
    <include src="./partials/modals/book-room-modal.html"></include>
</body>

</html>