<section class="lux">
  <div class="container lux__container lux__two-container">
    <h4 class="lux__pre-title">Amet minim mollit non</h4>
    <h3 class="lux__logo">Mimino</h3>
    <h2 class="lux__title">Двомісний номер</h2>
    <p class="lux__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          ./images/joint-images/hotel-desk.jpg    1x,
          ./images/joint-images/hotel-desk-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        sizes="460px"
      />
      <source
        srcset="
          ./images/joint-images/hotel-tab.jpg    1x,
          ./images/joint-images/hotel-tab-2x.jpg 2x
        "
        media="(min-width: 1024px)"
        sizes="400px"
      />
      <source
        srcset="
          ./images/joint-images/hotel-mob.jpg    1x,
          ./images/joint-images/hotel-mob-2x.jpg 2x
        "
        media="(min-width: 320px)"
        sizes="244px"
      />
      <img
        class="lux__photo"
        src="./images/joint-images/hotel-desk.jpg"
        alt="зображення номеру"
      />
    </picture>
    <div class="lux__for-absolute">
    <div class="lux__box">
      <div class="lux-slider">
        <ul class="two-time list">
          <li class="two-time__item">
            <picture class="two-time__picture">
              <source
                srcset="
                  ./images/slider-hotel/sl-hotel-8-desk.jpg    1x,
                  ./images/slider-hotel/sl-hotel-8-desk-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                sizes="254px"
              />
              <source
                srcset="
                  ./images/slider-hotel/sl-hotel-8-tab.jpg    1x,
                  ./images/slider-hotel/sl-hotel-8-tab-2x.jpg 2x
                "
                media="(min-width: 320px)"
                sizes="194px"
              />
              <img
                class="two-time__img"
                src="./images/slider-hotel/sl-hotel-8-tab.jpg"
                alt="гарна раковина для вмивання"
              />
            </picture>
          </li>
          <li class="two-time__item">
            <picture class="two-time__picture">
              <source
                srcset="
                  ./images/slider-hotel/sl-hotel-9-desk.jpg    1x,
                  ./images/slider-hotel/sl-hotel-9-desk-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                sizes="254px"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/slider-hotel/sl-hotel-9-tab.jpg    1x,
                  ./images/slider-hotel/sl-hotel-9-tab-2x.jpg 2x
                "
                media="(min-width: 320px)"
                sizes="194px"
                type="image/jpg"
              />
              <img
                class="two-time__img"
                src="./images/slider-hotel/sl-hotel-9-tab.jpg"
                alt="чашка кави на підвіконні"
              />
            </picture>
          </li>
          <li class="two-time__item">
            <picture class="lux-time__picture">
              <source
                srcset="
                  ./images/slider-hotel/sl-hotel-10-desk.jpg    1x,
                  ./images/slider-hotel/sl-hotel-10-desk-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                sizes="254px"
              />
              <source
                srcset="
                  ./images/slider-hotel/sl-hotel-10-tab.jpg    1x,
                  ./images/slider-hotel/sl-hotel-10-tab-2x.jpg 2x
                "
                media="(min-width: 320px)"
                sizes="194px"
              />
              <img
                class="two-time__img"
                src="./images/slider-hotel/sl-hotel-10-tab.jpg"
                alt="гарна раковина для вмивання"
              />
            </picture>
          </li>
          <li class="two-time__item">
            <picture class="lux-time__picture">
              <source
                srcset="
                  ./images/slider-hotel/sl-hotel-11-desk.jpg    1x,
                  ./images/slider-hotel/sl-hotel-11-desk-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                sizes="254px"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/slider-hotel/sl-hotel-11-tab.jpg    1x,
                  ./images/slider-hotel/sl-hotel-11-tab-2x.jpg 2x
                "
                media="(min-width: 320px)"
                sizes="194px"
                type="image/jpg"
              />
              <img
                class="two-time__img"
                src="./images/slider-hotel/sl-hotel-11-tab.jpg"
                alt="чашка кави на підвіконні"
              />
            </picture>
          </li>
        </ul>
      </div>

      <div class="lux__buttons">
        <button type="button" class="btn btn__hotel--light"> <a
          class="lux__reference link"
          href="/src/simple-room.html"
          >Детальніше</a
        ></button>
        <button
          class="btn btn__hotel--light js-open-modal" data-modal="2""
          type="button"
          data-modal-price-open
        >
          Переглянути ціни
        </button>
      </div>
    </div>
    <div class="lux-slider__buttons">
          <button class="left-two lux-slider__left" type="button">
            <svg class="icon-left" width="32" height="32">
              <use href="./images/svg/icons.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button class="right-two lux-slider__right" type="button">
            <svg class="icon-right" width="32" height="32">
              <use href="./images/svg/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
      </div>
    </div>
  </div>
</section>
