<section class="three">
  <div class="container three__container">
    <h4 class="three__pre-title">Amet minim mollit non</h4>
    <h3 class="three__logo">Mimino</h3>
    <h2 class="three__title">Трьохмісний номер</h2>
    <p class="three__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          ./images/joint-images/hotel-desk.jpg    1x,
          ./images/joint-images/hotel-desk-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        sizes="460px"
      />
      <source
        srcset="
          ./images/joint-images/hotel-tab.jpg    1x,
          ./images/joint-images/hotel-tab-2x.jpg 2x
        "
        media="(min-width: 1024px)"
        sizes="400px"
      />
      <source
        srcset="
          ./images/joint-images/hotel-mob.jpg    1x,
          ./images/joint-images/hotel-mob-2x.jpg 2x
        "
        media="(min-width: 320px)"
        sizes="244px"
      />
      <img
        class="three__photo"
        src="./images/joint-images/hotel-desk.jpg"
        alt="зображення номеру"
      />
    </picture>
    <div class="three__for-absolute">
      <div class="three__box">
        <div class="three-slider">
          <ul class="three-time list">
            <li class="three-time__item">
              <picture class="three-time__picture">
                <source
                  srcset="
                    ./images/slider-hotel/sl-hotel-1-desk.jpg    1x,
                    ./images/slider-hotel/sl-hotel-1-desk-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  sizes="254px"
                />
                <source
                  srcset="
                    ./images/slider-hotel/sl-hotel-1-tab.jpg    1x,
                    ./images/slider-hotel/sl-hotel-1-tab-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                  sizes="194px"
                />
                <img
                  class="three-time__img"
                  src="./images/slider-hotel/sl-hotel-1-tab.jpg"
                  alt="гарна раковина для вмивання"
                />
              </picture>
            </li>
            <li class="three-time__item">
              <picture class="three-time__picture">
                <source
                  srcset="
                    ./images/slider-hotel/sl-hotel-2-desk.jpg    1x,
                    ./images/slider-hotel/sl-hotel-2-desk-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  sizes="254px"
                  type="image/jpg"
                />
                <source
                  srcset="
                    ./images/slider-hotel/sl-hotel-2-tab.jpg    1x,
                    ./images/slider-hotel/sl-hotel-2-tab-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                  sizes="194px"
                  type="image/jpg"
                />
                <img
                  class="three-time__img"
                  src="./images/slider-hotel/sl-hotel-2-tab.jpg"
                  alt="чашка кави на підвіконні"
                />
              </picture>
            </li>
            <li class="three-time__item">
              <picture class="three-time__picture">
                <source
                  srcset="
                    ./images/slider-hotel/sl-hotel-3-desk.jpg    1x,
                    ./images/slider-hotel/sl-hotel-3-desk-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  sizes="254px"
                />
                <source
                  srcset="
                    ./images/slider-hotel/sl-hotel-3-tab.jpg    1x,
                    ./images/slider-hotel/sl-hotel-3-tab-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                  sizes="194px"
                />
                <img
                  class="three-time__img"
                  src="./images/slider-hotel/sl-hotel-3-tab.jpg"
                  alt="гарна раковина для вмивання"
                />
              </picture>
            </li>
          </ul>
        </div>

        <div class="three__buttons">
          <button type="button" class="btn btn__hotel--dark">
            <a class="lux__reference link" href="/src/triple-room.html"
              >Детальніше</a
            >
          </button>

          <button
            class="btn btn__hotel--dark js-open-modal"
            data-modal="2"
            type="button"
            data-modal-price-open
          >
            Переглянути ціни
          </button>
        </div>
      </div>
      <div class="three-slider__buttons">
        <button class="left-three three-slider__left" type="button">
          <svg class="icon-left" width="32" height="32">
            <use href="./images/svg/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="right-three three-slider__right" type="button">
          <svg class="icon-right" width="32" height="32">
            <use href="./images/svg/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
