<section class="hero">
  <div class="container">
    <h1 class="hero__title">MIMIHO</h1>
    <p class="hero__text">Готель</p>

    <address class="hero__address">
      <a href="https://goo.gl/maps/rEzh8SCp2E6CFk4U7" class="link"
        >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
      >
    </address>

    <ul class="btn-list list">
      <li>
        <button type="button" class="btn-list__table">
          Забронювати столик
        </button>
      </li>
      <li>
        <button type="button" class="btn-list__room">Забронювати номер</button>
      </li>
    </ul>
  </div>
</section>
