<section class="hero-hotel">
  <div class="hero__container">
    <h1 class="hero-hotel__title">MIMIHO</h1>
    <p class="hero-hotel__text">Готель</p>

    <div class="wrap">
      <div class="address-container">
        <address class="address">
          <a
            href="https://goo.gl/maps/rEzh8SCp2E6CFk4U7"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="address__link link"
          >
            <svg width="20" height="20" class="icon-location">
              <use href="/src/images/svg/icons.svg#icon-location"></use></svg
            >Україна, м. Полтава,<br />
            вул. Маршала Бірюзова, 15</a
          >
        </address>
      </div>

      <ul class="btn-list list">
        <li>
          <button
            type="button"
            class="btn btn-list__table js-open-modal"
            data-modal="3"
          >
            Забронювати номер
          </button>
        </li>
        <li>
          <button
            type="button"
            class="btn btn-list__room js-open-modal"
            data-modal="2"
          >
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
    <ul class="soc-list list">
      <li class="soc-list__item">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="soc-list__link link"
        >
          <svg width="24" height="24">
            <use href="/src/images/svg/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="soc-list__item">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="soc-list__link link"
        >
          <svg width="24" height="24">
            <use href="/src/images/svg/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="soc-list__item">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="soc-list__link link"
        >
          <svg width="24" height="24">
            <use href="/src/images/svg/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
