<section class="hero">
  <div class="hero__container">
    <h1 class="hero__title">MIMIHO</h1>
    <p class="hero__text">Готель</p>

    <div class="wrap">
      <div class="address-container">
        <address class="address">
          <a
            href="https://goo.gl/maps/rEzh8SCp2E6CFk4U7"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="address__link link"
          >
            <svg width="20" height="20" class="icon-location">
              <use href="/src/images/svg/icons.svg#icon-location"></use></svg
            >Україна, м. Полтава,<br />
            вул. Маршала Бірюзова, 15</a
          >
        </address>
      </div>

      <ul class="btn-list list">
        <li>
          <button type="button" class="btn btn-list__table">
            Забронювати столик
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-list__room">
            Забронювати номер
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
