<section class="lux">
  <div class="container lux__container">
    <h4 class="lux__pre-title">Amet minim mollit non</h4>
    <h3 class="lux__logo">Mimino</h3>
    <h2 class="lux__title">Двомісний номер <small>люкс</small></h2>
    <p class="lux__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          ./images/joint-images/hotel-desk.jpg 1x,
          ./images/joint-images/hotel-desk.jpg 2x
        "
        media="(min-width: 1280px)"
        sizes="460px"
      />
      <source
        srcset="
          ./images/joint-images/hotel-tab.jpg 1x,
          ./images/joint-images/hotel-tab.jpg 2x
        "
        media="(min-width: 1024px)"
        sizes="400px"
      />
      <source
        srcset="
          ./images/joint-images/hotel-mob.jpg 1x,
          ./images/joint-images/hotel-mob.jpg 2x
        "
        media="(min-width: 320px)"
        sizes="244px"
      />
      <img
        class="lux__photo"
        src="./images/joint-images/hotel-desk.jpg"
        alt="зображення номеру"
      />
    </picture>
    <div class="lux__box">
      <div class="one-time">
        <div class="one-time__wrap">
          <picture>
            <source
              srcset="
                ./images/slider-hotel/sl-hotel-1-desk.jpg 1x,
                ./images/slider-hotel/sl-hotel-1-desk.jpg 2x
              "
              media="(min-width: 1280px)"
              sizes="254px"
            />
            <source
              srcset="
                ./images/slider-hotel/sl-hotel-1-tab.jpg 1x,
                ./images/slider-hotel/sl-hotel-1-tab.jpg 2x
              "
              media="(min-width: 320px)"
              sizes="194px"
            />
            <img
              class="one-time__img"
              src="./images/slider-hotel/sl-hotel-1-tab.jpg"
              alt="гарна раковина для вмивання"
            />
          </picture>
        </div>
        <div class="one-time__wrap">
          <picture>
            <source
              srcset="
                ./images/slider-hotel/sl-hotel-2-desk.jpg 1x,
                ./images/slider-hotel/sl-hotel-2-desk.jpg 2x
              "
              media="(min-width: 1280px)"
              sizes="254px"
            />
            <source
              srcset="
                ./images/slider-hotel/sl-hotel-2-tab.jpg 1x,
                ./images/slider-hotel/sl-hotel-2-tab.jpg 2x
              "
              media="(min-width: 320px)"
              sizes="194px"
            />
            <img
              class="one-time__img"
              src="./images/slider-hotel/sl-hotel-2-tab.jpg"
              alt="чашка кави на підвіконні"
            />
          </picture>
        </div>
        <div class="one-time__wrap">
          <picture>
            <source
              srcset="
                ./images/slider-hotel/sl-hotel-1-desk.jpg 1x,
                ./images/slider-hotel/sl-hotel-1-desk.jpg 2x
              "
              media="(min-width: 1280px)"
              sizes="254px"
            />
            <source
              srcset="
                ./images/slider-hotel/sl-hotel-1-tab.jpg 1x,
                ./images/slider-hotel/sl-hotel-1-tab.jpg 2x
              "
              media="(min-width: 320px)"
              sizes="194px"
            />
            <img
              class="one-time__img"
              src="./images/slider-hotel/sl-hotel-1-tab.jpg"
              alt="гарна раковина для вмивання"
            />
          </picture>
        </div>
        <div class="one-time__wrap">
          <picture>
            <source
              srcset="
                ./images/slider-hotel/sl-hotel-2-desk.jpg 1x,
                ./images/slider-hotel/sl-hotel-2-desk.jpg 2x
              "
              media="(min-width: 1280px)"
              sizes="254px"
            />
            <source
              srcset="
                ./images/slider-hotel/sl-hotel-2-tab.jpg 1x,
                ./images/slider-hotel/sl-hotel-2-tab.jpg 2x
              "
              media="(min-width: 320px)"
              sizes="194px"
            />
            <img
              class="one-time__img"
              src="./images/slider-hotel/sl-hotel-2-tab.jpg"
              alt="чашка кави на підвіконні"
            />
          </picture>
        </div>
      </div>

      <div class="lux__buttons">
        <a class="lux__reference btn btn__room link" href="./lux-room.html"
          >Детальніше</a
        >
        <button class="lux__button btn btn__room" type="button" data-modal-price-open>
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
