.amenities {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    @include tablet {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.vertical-line-left {
    display: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 338px;
    border: 1px solid rgba(186, 186, 186, 0.4);
    filter: blur(0.5px);
    height: 100%;

    @include desktop {
        display: block;
    }
}

.vertical-line-center {
    display: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 640px;
    border: 1px solid rgba(186, 186, 186, 0.4);
    filter: blur(0.5px);
    height: 100%;

    @include desktop {
        display: block;
    }
}

.vertical-line-right {
    display: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 942px;
    border: 1px solid rgba(186, 186, 186, 0.4);
    filter: blur(0.5px);
    height: 100%;

    @include desktop {
        display: block;
    }

}


.amenities__title {
    font-family: $fontTimesNewRoman;
    font-weight: 400;
    color: $textColorBlack;
    font-size: 32px;
    line-height: calc(37/32);
}

.amenities__title-text {
    text-align: left;
    margin-top: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.02em;

    @include tablet {
        display: block;
        max-width: 757px;
    }
}

.amenities__item {
    margin-top: 32px;
}

.amenities__item-title {
    font-family: $fontTimesNewRoman;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
    color: $textColorBlack;
}

.amenities__block-text {
    @include tablet {
        display: flex;
        gap: 80px;
    }

    @include desktop {
        display: flex;
        gap: 159px;
    }
}

.amenities__block-main {
    @include tablet {
        display: flex;
        gap: 30px;
    }

    @include desktop {
        display: flex;
        gap: 64px;
    }
}

.amenities__block-max {
    @include tablet {
        width: 450px;
    }

    @include desktop {
        width: 495px;
    }
}

.amenities__block-small {
    @include tablet {
        width: 450px;
    }
}

.amenities__block {
    @include tablet {
        width: 100%;
        min-height: 43px;
        max-height: 83px;
        max-width: 400px;
    }
}



.amenities__item-text {
    font-weight: 700;
    margin-top: 16px;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.02em;
}

.button__amenities {
    display: block;
    margin-top: 32px;

    @include tablet {
        margin-left: auto;
        margin-right: 0;
    }

    @include desktop {
        margin-left: 563px;
    }
}

.amenities__link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
    margin-left: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.02em;
    color: $textColorBrown;
    transition: $transition;

    @include tablet {
        justify-content: flex-end;
        margin-right: 0;
        margin-top: 32px;
        gap: 16px;
        font-size: 20px;
        line-height: calc(24/20);
    }

    @include desktop {
        margin-left: 563px;
        justify-content: flex-start;
    }

    &:hover,
    &:focus {
        color: #f3c653;
        fill: #f3c653;
        cursor: pointer;
    }
}

.icon__arrow {
    fill: $textColorBrown;
}