<section class="about-restaurant">
  <div class="container about-restaurant_container">
    <h2 lang="en" class="visually-hidden">About our restaurant</h2>
    <p lang="en" class="about-restaurant_pre_title">Amet minim mollit non</p>
    <h2 class="brand-name">MIMIHO</h2>
    <p class="about-restaurant_text_up">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture class="about-restaurant_picture_up">
      <source
        srcset="
          ./images/main/main-rest-1-desk.jpg    1x,
          ./images/main/main-rest-1-desk-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/main/main-rest-1-tab.jpg    1x,
          ./images/main/main-rest-1-tab-2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/main/main-rest-1-mob.jpg    1x,
          ./images/main/main-rest-1-mob-2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        class="about-restaurant_img-interior"
        src="./images/main/main-rest-1-desk.jpg"
        alt="Інтер'єр ресторану"
        width="244"
      />
    </picture>
    <div class="about-restaurant_box">
      <picture class="about-restaurant_picture_down">
        <source
          srcset="
            ./images/main/main-rest-2-desk.jpg    1x,
            ./images/main/main-rest-2-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/main/main-rest-2-tab.jpg    1x,
            ./images/main/main-rest-2-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/main/main-rest-2-mob.jpg    1x,
            ./images/main/main-rest-2-mob-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          class="about-restaurant_img-hall"
          src="./images/main/main-rest-2-desk.jpg"
          alt="Зал ресторану"
          width="200"
        />
      </picture>
      <p class="about-restaurant_text_down">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="about-restaurant_slick">
      <div class="about-restaurant_slider">
        <div class="slider-item">
          <picture
            ><source
              srcset="
                ./images/main/slider-main/about-rest/sl-main-rest-1-desk.jpg    1x,
                ./images/main/slider-main/about-rest/sl-main-rest-1-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-rest/sl-main-rest-1-tab.jpg    1x,
                ./images/main/slider-main/about-rest/sl-main-rest-1-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-rest/sl-main-rest-1-mob-2.jpg  1x,
                ./images/main/slider-main/about-rest/sl-main-rest-1-mob-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="about-restaurant_slick_foto"
              src="./images/main/slider-main/about-rest/sl-main-rest-1-desk.jpg"
              alt="Бокал з вином"
            />
          </picture>
        </div>

        <div class="slider-item">
          <picture
            ><source
              srcset="
                ./images/main/slider-main/about-rest/sl-main-rest-3-desk.jpg    1x,
                ./images/main/slider-main/about-rest/sl-main-rest-3-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-rest/sl-main-rest-3-tab.jpg    1x,
                ./images/main/slider-main/about-rest/sl-main-rest-3-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-rest/sl-main-rest-3-mob.jpg    1x,
                ./images/main/slider-main/about-rest/sl-main-rest-3-mob-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="about-restaurant_slick_foto"
              src="./images/main/slider-main/about-rest/sl-main-rest-3-desk.jpg"
              alt="Устриці"
            />
          </picture>
        </div>
        <div class="slider-item">
          <picture
            ><source
              srcset="
                ./images/main/slider-main/about-rest/sl-main-rest-4-desk.jpg    1x,
                ./images/main/slider-main/about-rest/sl-main-rest-4-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-rest/sl-main-rest-4-tab.jpg    1x,
                ./images/main/slider-main/about-rest/sl-main-rest-4-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-rest/sl-main-rest-4-mob.jpg    1x,
                ./images/main/slider-main/about-rest/sl-main-rest-4-mob-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="about-restaurant_slick_foto"
              src="./images/main/slider-main/about-rest/sl-main-rest-4-desk.jpg"
              alt="Кухня ресторану"
            />
          </picture>
        </div>
        <div class="slider-item">
          <picture
            ><source
              srcset="
                ./images/main/slider-main/about-rest/sl-main-rest-5-desk.jpg    1x,
                ./images/main/slider-main/about-rest/sl-main-rest-5-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-rest/sl-main-rest-5-tab.jpg    1x,
                ./images/main/slider-main/about-rest/sl-main-rest-5-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-rest/sl-main-rest-5-mob.jpg    1x,
                ./images/main/slider-main/about-rest/sl-main-rest-5-mob-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="about-restaurant_slick_foto"
              src="./images/main/slider-main/about-rest/sl-main-rest-5-desk.jpg"
              alt="Сервіровка столу"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
