<section class="about-restaurant">
  <div class="container about-restaurant_container">
    <h2 lang="en" class="visually-hidden">About our restaurant</h2>
    <p lang="en" class="about-restaurant_pre_title">Amet minim mollit non</p>
    <h2 class="brand-name">MIMIHO</h2>
    <p class="about-restaurant_text_up">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <!-- <picture class="about-restaurant_picture_up">
      <source srcset="" media="(min-width: 1280px)" />
      <source srcset="" media="(min-width: 1024px)" />
      <source srcset="" media="(min-width: 414px)" />
      <img src="" alt="Серверовані столи в залі ресторану" width="244" />
    </picture> -->
    <div class="about-restaurant_box">
      <!-- <picture class="about-restaurant_picture_down">
      <source srcset="" media="(min-width: 1280px)" />
      <source srcset="" media="(min-width: 1024px)" />
      <source srcset="" media="(min-width: 414px)" />
      <img src="" alt="Зал ресторану" width="200" />
    </picture> -->
      <p class="about-restaurant_text_down">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="slider-for slider-nav">
      <div>
        1
        <!-- <img src="" alt="Бокал з вином в руці" /> -->
      </div>
      <div><h3>2</h3></div>
      <div><h3>3</h3></div>
      <div><h3>4</h3></div>
      <div><h3>5</h3></div>
      <div><h3>6</h3></div>
    </div>
  </div>
</section>
