<section class="about-hotel">
  <div class="container about-hotel_container">
    <h2 lang="en" class="visually-hidden">About our restaurant</h2>
    <p lang="en" class="about-hotel_pre_title">Amet minim mollit non</p>
    <h2 class="title-name">MIMIHO</h2>
    <p class="about-hotel_text_up">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture class="about-hotel_picture_up">
      <source
        srcset="
          ./images/joint-images/hotel-desk.jpg    1x,
          ./images/joint-images/hotel-desk-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/joint-images/hotel-tab.jpg    1x,
          ./images/joint-images/hotel-tab-2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/joint-images/hotel-desk.jpg    1x,
          ./images/joint-images/hotel-desk-2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        class="about-hotel_img-interior"
        src="./images/joint-images/hotel-desk.jpg"
        alt="Інтер'єр ресторану"
        width="244"
      />
    </picture>
    <div class="about-hotel_box">
      <p class="about-hotel_text_down">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture class="about-hotel_picture_down">
        <source
          srcset="
            ./images/main/main-hotel-2-desk.jpg    1x,
            ./images/main/main-hotel-2-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/main/main-hotel-2-tab.jpg    1x,
            ./images/main/main-hotel-2-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/main/main-hotel-2-desk.jpg    1x,
            ./images/main/main-hotel-2-desk-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          class="about-hotel_img-hall"
          src=" ./images/main/main-hotel-2-desk.jpg"
          alt="Зал ресторану"
          width="200"
        />
      </picture>
    </div>
    <div class="about-hotel_slick">
      <div class="about-hotel_slider">
        <div class="slider-item-hotel">
          <picture
            ><source
              srcset="
                ./images/main/slider-main/about-hotel/sl-main-hotel-1-desk.jpg    1x,
                ./images/main/slider-main/about-hotel/sl-main-hotel-1-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-hotel/sl-main-hotel-1-tab.jpg    1x,
                ./images/main/slider-main/about-hotel/sl-main-hotel-1-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-hotel/sl-main-hotel-1-desk.jpg    1x,
                ./images/main/slider-main/about-hotel/sl-main-hotel-1-desk-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="about-hotel_slick_foto"
              src="./images/main/slider-main/about-hotel/sl-main-hotel-1-desk.jpg"
              alt="Бокал з вином"
            />
          </picture>
        </div>

        <div class="slider-item-hotel">
          <picture
            ><source
              srcset="
                ./images/main/slider-main/about-hotel/sl-main-hotel-2-desk.jpg    1x,
                ./images/main/slider-main/about-hotel/sl-main-hotel-2-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-hotel/sl-main-hotel-2-tab.jpg    1x,
                ./images/main/slider-main/about-hotel/sl-main-hotel-2-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-hotel/sl-main-hotel-2-desk.jpg    1x,
                ./images/main/slider-main/about-hotel/sl-main-hotel-2-desk-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="about-hotel_slick_foto"
              src="./images/main/slider-main/about-hotel/sl-main-hotel-2-desk.jpg"
              alt="Устриці"
            />
          </picture>
        </div>
        <div class="slider-item-hotel">
          <picture
            ><source
              srcset="
                ./images/main/slider-main/about-hotel/sl-main-hotel-3-desk.jpg    1x,
                ./images/main/slider-main/about-hotel/sl-main-hotel-3-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-hotel/sl-main-hotel-3-tab.jpg    1x,
                ./images/main/slider-main/about-hotel/sl-main-hotel-3-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-hotel/sl-main-hotel-3-desk.jpg    1x,
                ./images/main/slider-main/about-hotel/sl-main-hotel-3-desk-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="about-hotel_slick_foto"
              src=" ./images/main/slider-main/about-hotel/sl-main-hotel-3-desk.jpg"
              alt="Кухня ресторану"
            />
          </picture>
        </div>
        <div class="slider-item-hotel">
          <picture
            ><source
              srcset="
                ./images/main/slider-main/about-hotel/sl-main-hotel-4-desk.jpg    1x,
                ./images/main/slider-main/about-hotel/sl-main-hotel-4-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-hotel/sl-main-hotel-4-tab.jpg    1x,
                ./images/main/slider-main/about-hotel/sl-main-hotel-4-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/slider-main/about-hotel/sl-main-hotel-4-desk.jpg    1x,
                ./images/main/slider-main/about-hotel/sl-main-hotel-4-desk-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="about-hotel_slick_foto"
              src="./images/main/slider-main/about-hotel/sl-main-hotel-4-desk.jpg"
              alt="Сервіровка столу"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
