<section class="container">
  <div class="about-hotel-section">
    <h2 class="about-hotel-title visually-hidden">About hotel</h2>
    <p class="about-hotel-text">Amet minim mollit non</p>
    <h3 class="about-hotel-logo">MIMIHO</h3>
    <div class="about-hotel-block-descript">
      <p class="about-hotel-text-descript">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <img
      class="about-hotel-img-room"
      src="/src/images/joint-images/hotel-mob.jpg"
      alt="Дезайнерскі аппартаменти"
      width="244"
      height="322"
    />
    <div class="about-hotel-block-description">
      <p class="about-hotel-text-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <img
      class="about-hotel-img-hole"
      src="/src/images/joint-images/hotel-mob.jpg"
      alt="Дезайнерскі аппартаменти"
      width="200"
      height="278"
    />
  </div>
</section>
