<section class="hotel-details-section">

    <div class="container hotel-details">
        <div class="hotel-bg-line1"> </div>
        <div class="hotel-bg-line2"> </div>
        <div class="hotel-bg-line3"> </div>
        <div class="title-box">
            <a href="/src/index.html" class="hotel-details-logo link">MIMIHO</a>
            <h2 class="hotel-details-title">Готель</h2>
        </div>
        <p class="hotel-details-descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit.</p>
        
        <div class="details-hotel-slick">
            <div class="slider-hotel-details-item">
        <picture>
            <source srcset="
                        ./images/main/slider-main/datails-hotel/sl-main-hotel-5-desk.jpg   1x,
                        ./images/main/slider-main/datails-hotel/sl-main-hotel-5-desk-2x.jpg 2x
                      " media="(min-width: 1024px)" />
            <source srcset="
                        ./images/main/slider-main/datails-hotel/sl-main-hotel-5-mob.jpg  1x,
                        ./images/main/slider-main/datails-hotel/sl-main-hotel-5-mob-2x.jpg  2x
                      " media="(min-width: 414px)" />
            <img class="img-wrap" src="./images/main/slider-main/datails-hotel/sl-main-hotel-5-desk.jpg"
                alt="Ліжко" />
        </picture>
            </div>
            <div class="slider-hotel-details-item">
            <picture>
                <source srcset="
                                    ./images/main/slider-main/datails-hotel/sl-main-hotel-7-desk.jpg  1x,
                                    ./images/main/slider-main/datails-hotel/sl-main-hotel-7-desk-2x.jpg 2x
                                  " media="(min-width: 1280px)"/>
                <source srcset="
                                    ./images/main/slider-main/datails-hotel/sl-main-hotel-7-tab.jpg  1x,
                                    ./images/main/slider-main/datails-hotel/sl-main-hotel-7-tab-2x.jpg 2x
                                  " media="(min-width: 414px)" />
                <img class="img-wrap" src="./images/main/slider-main/datails-hotel/sl-main-hotel-7-desk.jpg " alt="Стійка реєстрації" />
            </picture>
            </div>
            <div class="slider-hotel-details-item">
<picture>
    <source srcset="
                                    ./images/main/slider-main/datails-hotel/sl-main-hotel-6-desk.jpg 1x,
                                    ./images/main/slider-main/datails-hotel/sl-main-hotel-6-desk-2x.jpg 2x
                                  " media="(min-width: 414px)"  />
    <img class="img-wrap" src="./images/main/slider-main/datails-hotel/sl-main-hotel-6-desk.jpg "
        alt="Сніданок" />
</picture>
            </div>
            <div class="slider-hotel-details-item">
                <picture>
                    <source srcset="
                                                ./images/main/slider-main/datails-hotel/sl-main-hotel-6-desk.jpg 1x,
                                                ./images/main/slider-main/datails-hotel/sl-main-hotel-6-desk-2x.jpg 2x
                                              " media="(min-width: 414px)" />
                    <img class="img-wrap" src="./images/main/slider-main/datails-hotel/sl-main-hotel-6-desk.jpg " alt="Сніданок" />
                </picture>
            </div>
        </div>
        <div class="hotel-btns-box">
            <button type="button" class="btn details-hotel-btn js-open-modal"
          data-modal="3">Забронювати номер</button>
            <a href="/src/hotel.html" class="btn link details-hotel-link">Переглянути ціни</a>
        </div>

  <!-- <div class="container hotel-details">
    <div class="hotel-bg-line1"></div>
    <div class="hotel-bg-line2"></div>
    <div class="hotel-bg-line3"></div>
    <div class="title-box">
      <a href="/src/index.html" class="hotel-details-logo link">MIMIHO</a>
      <h2 class="hotel-details-title">Готель</h2> -->

    <!-- </div>
    <p class="hotel-details-descr">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>

    <div class="details-hotel-slick">
      <div class="img-wrap">
        <img
          src="/src/images/main/slider-main/datails-hotel/sl-main-hotel-5-desk.jpg"
          alt=""
        />
      </div>
      <div class="img-wrap">
        <img
          src="/src/images/main/slider-main/datails-hotel/sl-main-hotel-6-desk.jpg"
          alt=""
        />
      </div>
      <div class="img-wrap">
        <img
          src="/src/images/main/slider-main/datails-hotel/sl-main-hotel-7-tab.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="hotel-btns-box">
      <button type="button" class="btn details-hotel-btn js-open-modal"
          data-modal="3">
        Забронювати номер
      </button>
      <a href="/src/hotel.html" class="btn link details-hotel-link"
        >Переглянути ціни</a
      >
    </div>
  </div>
</section> -->
