<section class="hotel-details-section">
    <div class="container hotel-details">
        <div class="title-box">
            <a href="/src/index.html" class="hotel-details-logo link">MIMIHO</a>
            <h2 class="hotel-details-title">Готель</h2>
        </div>
        <p class="hotel-details-descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit.</p>
        
        <div class="details-hotel-slick">
            <div class="img-wrap">
                <img src="/src/images/main/slider-main/datails-hotel/sl-main-hotel-5-desk.jpg" alt="" />
            </div>
            <div class="img-wrap">
                <img src="/src/images/main/slider-main/datails-hotel/sl-main-hotel-6-desk.jpg" alt="" />
            </div>
            <div class="img-wrap">
                <img src="/src/images/main/slider-main/datails-hotel/sl-main-hotel-7-tab.jpg" alt="" />
            </div>
        </div>
        <div class="btns-box">
            <button type="button" class="btn details-hotel-btn">Забронювати номер</button>
            <a href="/src/hotel.html" class="btn link details-hotel-link">Переглянути ціни</a>
        </div>
    </div>

</section>