<section class="hotel-details-section">

    <div class="container restaurant-details">
        <div class="rest-bg-line1"> </div>
        <div class="rest-bg-line2"> </div>
        <div class="rest-bg-line3"> </div>
        <div class="title-box-restaurant">
            <a href="/src/index.html" class="restaurant-details-logo link">MIMIHO</a>
            <h2 class="restaurant-details-title">Готель</h2>
        </div>
        <p class="restaurant-details-descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit
            mollit.</p>

        <div class="details-restaurant-slick">
         <div class="rest-slider-item"></div>
         <div class="rest-slider-item"></div>
         <div class="rest-slider-item"></div>
         <div class="rest-slider-item"></div>
        </div>
        <div class="restaurant-btns-box">
            <button type="button" class="btn details-restaurant-btn js-open-modal" data-modal="1">Забронювати столик</button>
            <a href="/src/restaurant.html" class="btn link details-restaurant-link">Переглянути меню</a>
        </div>

    </div>
    <p class="restaurant-details-descr">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>

    <div class="details-restaurant-slick">
      <div class="rest-slider-item"></div>
      <div class="rest-slider-item"></div>
      <div class="rest-slider-item"></div>
      <div class="rest-slider-item"></div>
    </div>
    <div class="restaurant-btns-box">
      <button type="button" class="btn details-restaurant-btn">
        Забронювати столик
      </button>
      <a href="/src/restaurant.html" class="btn link details-restaurant-link"
        >Переглянути меню</a
      >
    </div>
  </div>
</section>
