
<header class="top">

    <div class="container header-container">
        <nav class="nav">
            <a href="./index.html" class="logo">MIMINO</a>
            <div class="header-contacts">
                <ul class="list contacts-list">
                <li class="contacts-item margin"><a href="./restaurant.html" class="link text-nav">Ресторан</a>
                    <div class="contacts-number">
                        <a href="tel:+380955559533" class="decoration-list svg-phone list">
                    <svg class="icon" width="24" height="24">
                    <use href="./images/svg/icons.svg#icon-phone"></use>
                    </svg><span class="phone-contact">095 555 95 33</span>
                    </a>
                </div>
                </li>
                <li class="contacts-item"><a href="./hotel.html" class="link text-nav">Готель</a>
                    <div class="contacts-number">
                        <a href="tel:+380668491089" class="decoration-list svg-phone list">
                    <svg class="icon" width="24" height="24">
                    <use href="./images/svg/icons.svg#icon-phone"></use>
                    </svg>
                    <span class="phone-contact">066 849 10 89</span></a>
                    <a href="tel:+380672758540" class="decoration-list list"><span class="phone-contact">067 275 85 40</span></a>
                    </div>
                </li>
            </ul>
            </div>
        </nav>
        <div class="soci">
            <ul class="list soc-list">
                <li class="soc-item"><a href="http://" target="_blank" rel="noopener noreferrer" class="link"></a><svg class="icon" width="24" height="24">
                    <use href="./images/svg/icons.svg#icon-instagram"></use>
                    </svg></li>
                <li class="soc-item"><a href="http://" target="_blank" rel="noopener noreferrer" class="link"></a><svg class="icon" width="24" height="24">
                    <use href="./images/svg/icons.svg#icon-facebook"></use>
                    </svg></li>
                <li class="soc-item"><a href="http://" target="_blank" rel="noopener noreferrer" class="link"></a><svg class="icon" width="24" height="24">
                    <use href="./images/svg/icons.svg#icon-telegram"></use>
                    </svg></li>
            </ul> 
        </div>
    </div>
   </header> 

