<header class="top">
  <div class="container header-container">
    <nav class="nav">
      <a href="./index.html" class="logo">MIMIHO</a>
      <ul class="list contacts-list header-contacts">
        <li class="contacts-item">
          <a href="./restaurant.html" class="link text-nav">Ресторан</a>
          <div class="contacts-number">
            <a href="tel:+380955559533" class="svg-phone link">
              <svg class="icon" width="24" height="24">
                <use href="./images/svg/icons.svg#icon-phone"></use>
              </svg>
            </a>
            <a class="phone-contact link" href="tel:+38095 555 95 33">
              095 555 95 33
            </a>
          </div>
        </li>
        <li class="contacts-item">
          <a href="./hotel.html" class="link text-nav">Готель</a>
          <div class="contacts-number">
            <a href="tel:+380668491089" class="svg-phone link">
              <svg class="icon" width="24" height="24">
                <use href="./images/svg/icons.svg#icon-phone"></use>
              </svg>
            </a>
            <a class="phone-contact link" href="tel:+38066 849 10 89">
              066 849 10 89
            </a>
            <a href="tel:+380672758540" class="phone-contact link"
              >067 275 85 40</a
            >
          </div>
        </li>
      </ul>
    </nav>
    <ul class="list soci">
      <li class="soc-item">
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          class="link"
        >
          <svg class="icon" width="24" height="24">
            <use href="./images/svg/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="soc-item">
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          class="link"
          ><svg class="icon" width="24" height="24">
            <use href="./images/svg/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="soc-item">
        <a
          href="https://desktop.telegram.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="link"
          ><svg class="icon" width="24" height="24">
            <use href="./images/svg/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
