.btn {
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $AccentColor;

    background-color: $btnGreyColor;
    border: 2px solid $btnWhiteColor;
    border-radius: 25px;
    width: 236px;
    min-height: 48px;
    align-items: center;
    text-align: center;

    transition: background-color $transition;
    &:hover, &:focus {
        background-color: $btnWhiteColor;
    }
}

.btn__desktop {
    background-color: $btnBlackColor;
    
    transition: border $transition;
    &:hover, &:focus {
        border: 2px solid $AccentColor;
    }
}

.btn__restoran {
    background-color: $btnBlackColor;
    border: 2px solid $backGroundBeige;

    @include tablet {
        border: 2px solid #F0ECD6;
    }
    @include desktop {
        border: 2px solid $backGroundBeige;
    }
    
    transition: border $transition, background-color $transition;
    
    &:hover, &:focus {
        border: 2px solid $AccentColor;
        background-color: $btnWhiteColor;
    }
}

.btn__hotel--light {
    background-color: $btnBlackColor;
    border: 2px solid $backGroundBeige;

    @include tablet {
        border: 2px solid #F0ECD6;
    }
    @include desktop {
        border: 2px solid $btnWhiteColor;
    }
    
    transition: border $transition, background-color $transition;
    &:hover, &:focus {
        border: 2px solid $AccentColor;
        background-color: $btnWhiteColor;
    }
}

.btn__hotel--dark {
    background-color: $btnBlackColor;
    border: 2px solid #F0ECD6;

    @include tablet {
        border: 2px solid $btnWhiteColor;
    }
    
    transition: border $transition, background-color $transition;
    &:hover, &:focus {
        border: 2px solid $AccentColor;
        background-color: $btnWhiteColor;
    }
}

.btn__room {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    
    font-size: 20px;
    line-height: 1.2;
    color: $titleColorWhite;
    text-transform: uppercase;
    align-items: center;
    text-align: center;

    background-color: $btnBlackColor;
    border: 1px solid $AccentColor;
    border-radius: 25px;
    
    max-width: 384px;
    min-height: 64px;
    
    @include mobile {
        width: 384px;
    }

    @include tablet {
        font-size: 24px;
        line-height: 1.21;
        width: 434px;
    }
     transition: color $transition, background-color $transition;
    &:hover, &:focus {
        color: $textColorBlack;
        background-color: $AccentColor;
    }
}

.btn__modal {
    border-radius: 2px;

    @include tablet {
        width: 592px;
    }
}