.kitchen-container {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 34.8%, rgba(186, 186, 186, .4) 35%, rgba(0, 0, 0, 0) 35.1%, rgba(0, 0, 0, 0) 64.8%, rgba(186, 186, 186, .4) 65%, rgba(0, 0, 0, 0) 65.1%);
    padding-top: 16px;
    padding-bottom: 27px;
}

.kitchen-title {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: $preTitleColorGray;
}

.kitchen-text {
    margin-bottom: 28px;
    max-width: 258px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $textColorDarkGrey;
}


.kitchen-img__up {
    width: 244px;
    margin-left: auto;
    margin-bottom: 32px;
}

.kitchen-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 32px;
}

.kitchen-img__down {
    width: 200px;
}

.kitchen-text-down {
    max-width: 160px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: $textColorBrown;
}

.slider-img {
    width: 245px;
}