.hero-restaurant {
    width: 100%;
    max-width: 1600px;
    padding-top: 181px;
    padding-bottom: 22px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(/src/images/rest/rest-hero-mob.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/rest/rest-hero-mob-2x.jpg);
  }



    @include tablet{
        padding-top: 188px;
        padding-bottom: 18.5px;
        background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/rest/rest-hero-tab.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-restaurant {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(/src/images/rest/rest-hero-tab-2x.jpg);
    }

} 
@include desktop {
    padding-top: 164px;
    padding-bottom: 64px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/rest/rest-hero-desk.jpg);
}
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-restaurant {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(/src/images/rest/rest-hero-desk-2x.jpg);
    }
}
}


.hero__elements{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 61px;

    @include tablet {
        margin-bottom: 26px;
        padding-left: 32px;
        padding-right: 32px;
    }
    @include desktop {
        margin-bottom: 0;
        padding-left: 70px;
        padding-right: 70px;
    }
}

.hero__map{
@media screen and (max-width: 1023px) {
    
position: absolute;
}
top: 64;
right: 15;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-right: auto;
    max-width: 210px;
padding-top: 8;
padding-bottom: 9px;
padding-right: 6px;

font-family: 'Montserrat', sans-serif;
font-size: 12px;
line-height: 1.25;
letter-spacing: 0.01em;
color: #E5E5E5;
border: 1px solid rgba(243, 198, 83, 0.7);
border-radius: 2px;


@include tablet{
font-size: 16px;
line-height: 1.25;
max-width: 285px;
height: 56px;
}
}

.hero__location-icon{
    width: 20px;
    height: 20px;
    fill: #F3C653;
    margin-right: 13px;
}

.hero__title-mimino{
margin: 0 auto 20px;

max-width: 303px;
font-family: 'Film P3' , sans-serif;
font-style: normal;
font-weight: 700;
font-size: 95px;
line-height: 1.07;
letter-spacing: 0.3em;
text-align: center;
color: #FFFFFF;
text-transform: uppercase;
background-color: transparent;
@include tablet {
    max-width: 404px;
font-size: 128px;
line-height: 1.07;
margin-bottom: 16px;
}
@include desktop {
    font-size: 128px;
    line-height: 1.07;
    margin-bottom: 32px;
    }
}

.hero__title-rest{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #FFFFFF;
text-align: center;
margin-bottom: 44px;
@include tablet {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 56px;
    }
    @include desktop {
        margin-bottom: 64px;
        }
}

.hero__text{
font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 1.15;
letter-spacing: 0.05em;
color: #FDFBEC;
text-align: center;
margin-bottom: 113px;
@include tablet {
font-size: 36px;
line-height: 1.13;
margin-bottom: 137px;
    }
}

.hero-rest-btn:not(:last-child){
    margin-bottom: 24px;
    @include tablet {
        margin-bottom: 0;
        margin-right: 40px;
                    }
                    @include desktop {
                        margin-bottom: 0;
                        margin-right: 60px;
                                    }
}

.hero__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
flex-direction: row;
justify-content: flex-end;
margin-bottom: 0;
            }
            
}


.hero-soc-list{
    display: flex;
    @include tablet {
        
    padding-left: 33px;
                    }
    @include desktop {
   display: none;
    }

  }



  .hero-soc-list__item:not(:last-child){
  margin-right: 23px;

  }
  
  .hero-soc-list__icon {
    fill:#F3C653;
  }