td {
  outline: 1px solid black;
}

.menu__flex-wrapper {
  @media screen and (min-width: 1024px) {
    display: flex;
    gap: 90px;
  }
}

.section-restaurant__menu {
  padding: 32px 15px;
  background-color: #f0ecd6;

  @media screen and (min-width: 1024px) {
    padding: 58px 47px 40px 47px;
  }

  @media screen and (min-width: 1280px) {
    padding: 58px 85px 60px 85px;
  }
}

.menu__table {
  width: 100%;
  border-collapse: collapse;
}

.menu__table--down {
  @media screen and (max-width: 1023px) {
    margin-top: 16px;
  }
}

.menu__title {
  margin-bottom: 32px;

  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #000000;

  @media screen and (min-width: 1024px) {
    margin-bottom: 40px;
  }
}

.menu__category {
  padding-bottom: 16px;

  text-align: left;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;

  @media screen and (min-width: 1024px) {
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.menu__dish {
  padding-bottom: 4px;

  width: 225px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;

  color: #000000;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.menu__dish--down {
  padding-top: 8px;
}

.menu__portions {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  text-align: center;

  color: #000000;
}

.menu__price {
  width: 65px;
  text-align: right;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;

  color: #000000;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.menu__description {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #000000;
}

.menu-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
