.menu__flex-wrapper {
  @include tablet {
    display: flex;
    gap: 90px;
    justify-content: space-between;
  }

  @include desktop {
    gap: 140px;
  }
}

.section-restaurant__menu {
  background-color: #f0ecd6;

  @include desktop {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-restaurant__menu .container {
  padding-top: 32px;
  padding-bottom: 32px;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 34.8%,
    rgba(186, 186, 186, 0.4) 35%,
    rgba(0, 0, 0, 0) 35.1%,
    rgba(0, 0, 0, 0) 64.8%,
    rgba(186, 186, 186, 0.4) 65%,
    rgba(0, 0, 0, 0) 65.1%
  );
  @include tablet {
    padding-top: 58px;
    padding-bottom: 40px;
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 25.9%,
      rgba(186, 186, 186, 0.4) 25.9%,
      rgba(186, 186, 186, 0.4) 26%,
      rgba(0, 0, 0, 0) 26%,
      rgba(0, 0, 0, 0) 50%,
      rgba(186, 186, 186, 0.4) 50%,
      rgba(186, 186, 186, 0.4) 50.1%,
      rgba(0, 0, 0, 0) 50.1%,
      rgba(0, 0, 0, 0) 72.5%,
      rgba(186, 186, 186, 0.4) 72.5%,
      rgba(186, 186, 186, 0.4) 72.6%,
      rgba(0, 0, 0, 0) 72.6%,
      rgba(0, 0, 0, 0)
    );
  }
  @include desktop {
    padding-top: 58px;
    padding-bottom: 60px;
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 25.9%,
      rgba(186, 186, 186, 0.4) 25.9%,
      rgba(186, 186, 186, 0.4) 26%,
      rgba(0, 0, 0, 0) 26%,
      rgba(0, 0, 0, 0) 50%,
      rgba(186, 186, 186, 0.4) 50%,
      rgba(186, 186, 186, 0.4) 50.1%,
      rgba(0, 0, 0, 0) 50.1%,
      rgba(0, 0, 0, 0) 72.5%,
      rgba(186, 186, 186, 0.4) 72.5%,
      rgba(186, 186, 186, 0.4) 72.6%,
      rgba(0, 0, 0, 0) 72.6%,
      rgba(0, 0, 0, 0)
    );
  }
}

.menu__table {
  width: 100%;
  border-collapse: collapse;
}

.menu__table--down {
  @media screen and (max-width: 1023px) {
    margin-top: 16px;
  }
  @include tablet {
    margin-top: 20px;
  }
}

.menu__table--down-cancelled {
  @include tablet {
    margin-top: 0px;
  }
}

.menu__title {
  margin-bottom: 32px;

  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  text-transform: uppercase;
  color: $textColorBlack;

  @include tablet {
    margin-bottom: 40px;
  }
}

.menu__category {
  padding-bottom: 16px;

  text-align: left;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: $textColorBlack;

  @include tablet {
    padding-bottom: 20px;
  }

  @include desktop {
    font-size: 24px;
    line-height: 1.17;
  }
}

.menu__dish {
  padding-bottom: 4px;

  width: 225px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;

  color: $textColorBlack;

  @include tablet {
    width: 270px;
  }

  @include desktop {
    width: 375px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.menu__dish--down {
  padding-top: 8px;

  @include desktop {
    padding-top: 12px;
  }
}

.menu__dish--padding-calcell {
  padding-bottom: 0;
}

.menu__dish-desserts--down {
  padding-bottom: 11px;

  @include desktop {
    padding-bottom: 12px;
  }
}

.menu__portions {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  text-align: center;

  color: $textColorBlack;

  @include tablet {
    width: 150px;
  }
}

.menu__price {
  width: 66px;
  text-align: right;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;

  color: $textColorBlack;

  @include tablet {
    width: 80px;
  }

  @include desktop {
    width: 95px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.menu__description {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: $textColorBlack;
}

.menu-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;

  @include tablet {
    margin-top: 40px;
    margin-right: 0;
    margin-left: auto;
  }

  @include desktop {
    margin-top: 30px;
  }
}

// ----------------------------------------Горизонтальні лінії через before/after
// .menu__flex-wrapper::after {
//   @include tablet {
//     content: '';
//     width: 616px;
//     position: absolute;
//     top: -58px;
//     left: 759px;
//     border: 1px solid rgba(186, 186, 186, 0.4);
//     filter: blur(0.5px);
//     transform: rotate(90deg);
//     transform-origin: top left;
//   }

//   @include desktop {
//     left: 942px;
//   }
// }

// .menu__flex-wrapper::before {
//   @include desktop {
//     content: '';
//     width: 616px;
//     position: absolute;
//     top: -58px;
//     left: 640px;
//     border: 1px solid rgba(186, 186, 186, 0.4);
//     filter: blur(0.5px);
//     transform: rotate(90deg);
//     transform-origin: top left;
//   }
// }

// .menu__title::before {
//   @include desktop {
//     content: '';
//     width: 616px;
//     position: absolute;
//     top: -58px;
//     left: 338px;
//     border: 1px solid rgba(186, 186, 186, 0.4);
//     filter: blur(0.5px);
//     transform: rotate(90deg);
//     transform-origin: top left;
//   }
// }
