<h2 class="amenities__title">ЗРУЧНОСТІ У НОМЕРІ</h2>
<p class="amenities__title-text">
  Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
  Velit officia consequat duis enim velit mollit. Exercitation veniam consequat
  sunt nostrud amet.
</p>
<ul class="list">
  <li class="">
    <h3>ЗАГАЛЬНІ</h3>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </li>
  <li>
    <h3>ВАННА КІМНАТА</h3>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </li>
  <li>
    <h3>СПАЛЬНЯ</h3>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    </p>
  </li>
  <li>
    <h3>КУХНЯ</h3>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    </p>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    </p>
  </li>
  <li>
    <h3>МЕДІА</h3>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
  </li>
</ul>
