<div class="container amenities">
  <div class="vertical-line-left"></div>
  <div class="vertical-line-center"></div>
  <div class="vertical-line-right"></div>
  <h2 class="amenities__title">ЗРУЧНОСТІ У НОМЕРІ</h2>
  <p class="amenities__title-text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <ul class="list amenities__list">
    <li class="amenities__item">
      <h3 class="amenities__item-title">ЗАГАЛЬНІ</h3>
      <div class="amenities__block-text">
        <div class="amenities__block">
          <p class="amenities__item-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div class="amenities__block">
          <p class="amenities__item-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>
    </li>
    <li class="amenities__item">
      <h3 class="amenities__item-title">ВАННА КІМНАТА</h3>
      <div class="amenities__block-main">
        <div class="amenities__block-max">
          <p class="amenities__item-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div class="amenities__block-small">
          <p class="amenities__item-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>
    </li>
    <li class="amenities__item">
      <h3 class="amenities__item-title">СПАЛЬНЯ</h3>
      <div class="amenities__block-text">
        <div class="amenities__block">
          <p class="amenities__item-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </div>
    </li>
    <li class="amenities__item">
      <h3 class="amenities__item-title">КУХНЯ</h3>
      <div class="amenities__block-text">
        <div class="amenities__block">
          <p class="amenities__item-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
        <div class="amenities__block">
          <p class="amenities__item-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </div>
    </li>
    <li class="amenities__item">
      <h3 class="amenities__item-title">МЕДІА</h3>
      <div class="amenities__block-text">
        <div class="amenities__block">
          <p class="amenities__item-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </div>
    </li>
  </ul>
  <button type="button" class="button__amenities btn__room js-open-modal"
          data-modal="3">
    ОФОРМИТИ БРОНЮВАННЯ
  </button>
  <a href="/src/hotel.html" class="amenities__link link"
    >Повернутися до перегляду номерів
    <svg width="24" height="24" class="icon__arrow">
      <use href="/src/images/svg/icons.svg#icon-arrow-right"></use>
    </svg>
  </a>
</div>
