<section class="room_section">
    <div class="slideshow">
        <div class="hero_show">
            <picture>
                <source
                    srcset="/src/images/room/room-slider-2-desk.jpg 1x, /src/images/room/room-slider-2-desk-2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="/src/images/room/room-slider-2-tab.jpg 1x, /src/images/room/room-slider-2-tab-2x.jpg 2x"
                    media="(min-width: 1024px)" />
                <source srcset="/src/images/room/room-slider-2-mob.jpg 1x, /src/images/room/room-slider-2-mob-2x.jpg 2x"
                    media="(min-width: 320px)" />

                <img src="/src/images/room/room-slider-2-desk.jpg" alt="слайд"  />
            </picture>
        </div>
        <div class="hero_show">
            <picture>
                <source
                    srcset="/src/images/room/room-slider-3-desk.jpg 1x, /src/images/room/room-slider-3-desk-2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="/src/images/room/room-slider-3-tab.jpg 1x, /src/images/room/room-slider-3-tab-2x.jpg 2x"
                    media="(min-width: 1024px)" />
                <source srcset="/src/images/room/room-slider-3-mob.jpg 1x, /src/images/room/room-slider-3-mob-2x.jpg 2x"
                    media="(min-width: 320px)" />

                <img src="/src/images/room/room-slider-3-desk.jpg" alt="слайд" />
            </picture>
        </div>
        <picture src="/src/images/joint-images/hotel-hero-tab-2x.jpg">
            <source
                srcset="/src/images/joint-images/hotel-hero-desk.jpg 1x, /src/images/joint-images/hotel-hero-desk-2x.jpg 2x"
                media="(min-width: 1280px)" />
            <source
                srcset="/src/images/joint-images/hotel-hero-tab.jpg 1x, /src/images/joint-images/hotel-hero-tab-2x.jpg 2x"
                media="(min-width: 1024px)" />
            <source
                srcset="/src/images/joint-images/hotel-hero-mob.jpg 1x, /src/images/joint-images/hotel-hero-mob-2x.jpg 2x"
                media="(min-width: 320px)" />

            <img src="/src/images/main/slider-main/datails-hotel/sl-main-hotel-5-desk.jpg" alt="слайд" />
        </picture>
    </div>
    <div class="hero-container_room container">
        <h2 class="hero-room_title">ДВОМІСНИЙ НОМЕР люкс</h2>
        <p class="hero-description_room">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit
            officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <div class="wrap_contact">
            <address class="hero-address_lux">
                <a class="contacts-map-link-lux link" href="https://goo.gl/maps/XrxTVzeBdrzJqLxW6" target="_blank"
                    rel="noopener noreferrer nofollow">
                    <svg class="location-icon" width="20px" height="20px">
                        <use href="/src/images/svg/icons.svg#icon-location"></use>
                    </svg>
                    Україна, м. Полтава, <br />
                    вул. Маршала Бірюзова, 15</a>
            </address>


            <ul class="hero-soc_room list">
                <li class="hero_soc_item_room">
                    <a class="hero-soc_link_room link" href="https://www.instagram.com" target="_blank"
                        rel="noopener noreferrer nofollow"><svg class="icon-soc_room" width="22px" height="22px">
                            <use href="/src/images/svg/icons.svg#icon-instagram"></use>
                        </svg></a>
                </li>
                <li class="hero_soc_item_room">
                    <a class="hero-soc_link_room link" href="https://www.facebook.com" target="_blank"
                        rel="noopener noreferrer nofollow"><svg class="icon-soc_room" width="22px" height="22px">
                            <use href="/src/images/svg/icons.svg#icon-facebook"></use>
                        </svg></a>
                </li>
                <li class="hero_soc_item_room">
                    <a class="hero-soc_link_room link" href="https://telegram.org" target="_blank"
                        rel="noopener noreferrer nofollow"><svg class="icon-soc_room" width="22px" height="22px">
                            <use href="/src/images/svg/icons.svg#icon-telegram"></use>
                        </svg></a>
                </li>
            </ul>
        </div>
    </div>
    <button type="button" class="btn hero-button_room js-open-modal"
          data-modal="2">
        Переглянути ціни
    </button>


</section>